<%

const months = (league.toUpperCase() == "MLB") ?
[
    {key: "03", totalDays: 31, name: "March"},
    {key: "04", totalDays: 30, name: "April"},
    {key: "05", totalDays: 31, name: "May"},
    {key: "06", totalDays: 30, name: "June"},
    {key: "07", totalDays: 31, name: "July"},
    {key: "08", totalDays: 31, name: "August"},
    {key: "09", totalDays: 30, name: "September"},
    {key: "10", totalDays: 31, name: "October"}
] :
[
    {key: "10", totalDays: 31, name: "October"},
    {key: "11", totalDays: 30, name: "November"},
    {key: "12", totalDays: 31, name: "December"},
    {key: "01", totalDays: 31, name: "January"},
    {key: "02", totalDays: (data.requestedSeason.year % 4 == 0) ? 29 : 28, name: "February"},
    {key: "03", totalDays: 31, name: "March"},
    {key: "04", totalDays: 30, name: "April"}
];

data.events.forEach(game => {

    //change the dates of the games to local time dates
    const localDate = new Date(game.date);
    const year = localDate.getFullYear();
    const month = String(localDate.getMonth() + 1).padStart(2, '0');
    const day = String(localDate.getDate()).padStart(2, '0');
    const hours = String(localDate.getHours()).padStart(2, '0');
    const minutes = String(localDate.getMinutes()).padStart(2, '0');
    game.date = `${year}-${month}-${day}T${hours}:${minutes}`;

});

//for each month, filter out the events that take place in said month
months.forEach(month => {

    //all games in month
    const monthlyGames = data.events.filter(game => game.date.substring(5, 7) == month.key);

    if (monthlyGames){ //if we have games this month

        let weekday = 0; //index of a weekday (0 for Sun, 1 for Mon, etc)
        let dayNum = 1; //numbered day of the month

        //get the weekday of the first day of the month
        const firstDayOfMonth = new Date(monthlyGames[0].date.substring(0, 8) + "01" +
            monthlyGames[0].date.substring(10, 16)).getDay();

        monthlyGames.reverse();

        %>

        <h3><%= month.name %></h3>
        <div class="monthDiv">

        
            <div class="weekDiv"> <!--Focus on the first week first, where we have dead days-->

                <!--get weekday of first month day, then add in dead days until we reach said weekday-->
                <% while (weekday < firstDayOfMonth){ %>
                    <div class="deadDay"></div>
                    <% weekday++;
                }

                //now go through first week and add empty days or game days as usual
                while (weekday < 7) {

                    if (monthlyGames.length == 0){

                        while (weekday < 7){

                            if (dayNum <= month.totalDays){ %>
                                <div class="emptyDay">
                                    <h4 class="dayNum"><%= dayNum %></h4>
                                </div>
                                <% dayNum++;
                            } else { %>
                                <div class="deadDay"></div>
                            <% }
                            weekday++;
                        }

                    } else {

                        const game = monthlyGames.pop();

                        if (parseInt(game.date.substring(8, 10)) == dayNum){

                            let homeTeam = true; //set to either road or home game class

                            //if our team is the road team, set gameClass to roadGame and swap the array elements
                            if (data.team.abbreviation == game.competitions[0].competitors[1].team.abbreviation){
                                const temp = game.competitions[0].competitors[0];
                                game.competitions[0].competitors[0] = game.competitions[0].competitors[1];
                                game.competitions[0].competitors[1] = temp;
                                homeTeam = false;
                            }

                            %>

                            <a href="http://localhost:<%= port %>/<%= sport %>/<%= league %>/games/<%= game.id %>">
                                <div class="gameDay <% if (homeTeam){ %> homeGame <% } else { %> roadGame <% } %>">
                                    <h4 class="dayNum"><%= dayNum %></h4>
                                    <% if (game.competitions[0].competitors[1].team.logos !== undefined){ %>
                                        <img class="opponentLogo" src="<%= game.competitions[0].competitors[1].team.logos[0].href %>">
                                    <% } else { %>
                                        <img class="opponentLogo" src="/images/coyotes_logo.png">
                                    <% } %>
                                    <h6><%= game.competitions[0].competitors[1].team.abbreviation %></h6>
                                    <!--put the needed details here depending on pre, in progress or final-->
                                    <p>
                                        <% if (game.competitions[0].status.type.state == "pre"){ %>

                                            <%= game.competitions[0].status.type.shortDetail.split('-')[1] %>

                                        <% } else if (game.competitions[0].status.type.state == "post"){ %>

                                            <strong class="<% if (game.competitions[0].competitors[0].winner) { %> winner <% } else { %> loser <% } %>">

                                                <% if (game.competitions[0].competitors[0].winner) { %> W <% } else { %> L <% } %>

                                                <%= game.competitions[0].competitors[0].score.displayValue + 
                                                    "-" + game.competitions[0].competitors[1].score.displayValue %>
                                            </strong>

                                        <% } else { %>
                                            In Progress
                                        <% } %>
                                    </p>
                                </div>
                            </a>
                        <% } else { %>

                            <div class="emptyDay">
                                <h4 class="dayNum"><%= dayNum %></h4>
                            </div>
                            <% monthlyGames.push(game); //push game back onto stack
                        }
                        weekday++;
                        dayNum++;
                    }
                } %>
            </div>

            <% while (dayNum <= month.totalDays){ %>

                <div class="weekDiv">

                    <% weekday = 0;
                    
                    while (weekday < 7){

                        if (monthlyGames.length == 0){

                            while (weekday < 7){

                                if (dayNum <= month.totalDays){ %>
                                    <div class="emptyDay">
                                        <h4 class="dayNum"><%= dayNum %></h4>
                                    </div>
                                    <% dayNum++;
                                } else { %>
                                    <div class="deadDay"></div>
                                <% }
                                weekday++;
                            }

                            break;

                        } else {

                            const game = monthlyGames.pop();

                            //if the next game's date matches the numbered day
                            if (parseInt(game.date.substring(8, 10)) == dayNum){

                                let homeTeam = true; //set to either road or home game class

                                //if our team is the road team, set gameClass to roadGame and swap the array elements
                                if (data.team.abbreviation == game.competitions[0].competitors[1].team.abbreviation){
                                    const temp = game.competitions[0].competitors[0];
                                    game.competitions[0].competitors[0] = game.competitions[0].competitors[1];
                                    game.competitions[0].competitors[1] = temp;
                                    homeTeam = false;
                                }

                                %>

                                <a href="http://localhost:<%= port %>/<%= sport %>/<%= league %>/games/<%= game.id %>">

                                    <div class="gameDay <% if (homeTeam){ %> homeGame <% } else { %> roadGame <% } %>">

                                        <h4 class="dayNum"><%= dayNum %></h4>
                                        <% if (game.competitions[0].competitors[1].team.logos !== undefined){ %>
                                            <img class="opponentLogo" src="<%= game.competitions[0].competitors[1].team.logos[0].href %>">
                                        <% } else { %>
                                            <img class="opponentLogo" src="/images/coyotes_logo.png">
                                        <% } %>
                                        <h6><%= game.competitions[0].competitors[1].team.abbreviation %></h6>
                                        <!--put the needed details here depending on pre, in progress or final-->
                                        <p>
                                            <% if (game.competitions[0].status.type.state == "pre"){ %>

                                                <%= game.competitions[0].status.type.shortDetail.split('-')[1] %>

                                            <% } else if (game.competitions[0].status.type.state == "post"){ %>

                                                <strong class="<% if (game.competitions[0].competitors[0].winner) { %> winner <% } else { %> loser <% } %>">

                                                    <% if (game.competitions[0].competitors[0].winner) { %> W <% } else { %> L <% } %>

                                                    <%= game.competitions[0].competitors[0].score.displayValue + 
                                                        "-" + game.competitions[0].competitors[1].score.displayValue %>
                                                </strong>

                                            <% } else { %>
                                                In Progress
                                            <% } %>
                                        </p>
                                    </div>
                                </a>

                            <% } else { %>

                                <div class="emptyDay">
                                    <h4 class="dayNum"><%= dayNum %></h4>
                                </div>

                                <% monthlyGames.push(game); //push game back onto stack
                            }
                            weekday++;
                            dayNum++;
                        }
                    } %>
                </div>
            <% } %>

        </div>
    <% }
}) %>