
<!DOCTYPE html>

<html>
    <head>
        <title><%= data.team.displayName %> Schedule</title>
        <link rel="stylesheet" href="/styles/team_schedule_styles/general_schedule_styles.css">
    </head>

    <body>

        <%- include ('../menu_header') %>

        <div id="headlineDiv">
            <img id="teamLogo" src="<%= data.team.logo %>">
            <h4><%= data.team.displayName %></h4>
            <h4>Team is currently in the <%= data.season.name %></h4>
        </div>

        <div class="form-container">
            <form id="scheduleSelection" method="GET">
                <div class="form-group">
                    <label for="season">Select Season:</label>
                    <select name="season">
                        <% for (let i = data.season.year; i >= 2000; i--){ %>
                            <option value="<%= i %>"><%= i %></option>
                        <% } %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="seasonType">Select Season Type:</label>
                    <select name="seasonType">
                        <option value="1">Preseason</option>
                        <option value="2">Regular Season</option>
                        <option value="3">Post Season</option>
                    </select>
                </div>
                <button>Submit</button>
            </form>
        </div>

        <!--Check if we're requesting postseason schedule for a postseason that hasn't happened yet-->
        <% if (requestedType == 3 && (requestedSeason == data.season.year && data.season.type < 3)){ %>

            <h2>Postseason has not Occurred Yet. Check Back at a Later Date.</h2>

        <!--check if team qualified for postseason-->
        <% } else if (requestedType == 3 && data.events.length == 0 && requestedSeason < data.season.year) { %>

            <h2>This Team Did Not Qualify for the Postseason this Year.</h2>

        <% } else if (data.events.length == 0){ %>

            <h2>This Schedule is Not Available. Check Back Later!</h2>

        <% } else { %>

            <% if (league.toUpperCase() == "NFL"){ %> <!--NFL will have different schedule format-->

                <%- include ('weeks') %>

            <% } else if (data.requestedSeason.type == 3){ %>

                <%- include ('postseason_series') %>

            <% } else if (data.requestedSeason.type == 1){ %>

                <%- include ('preseason') %>

            <% } else { %>

                <%- include ('calendar') %>

            <% } %>

        <% } %>
    </body>
</html>