<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/home.css">
        <title>Sports Data Home Page</title>
    </head>

    <body>
        <h1>Welcome to Sports Data!</h1>

        <h3>Choose a Sports League:</h3>
        <br>

        <div class = "imageRow">
            <div class="leagueSection">
                <img class="logo" src = '../images/nfl_logo.png' alt = 'NFL Logo'>
                <div class="linkSection">
                    <a href="http://localhost:<%= port %>/football/nfl/games">Games</a>
                    <a href="http://localhost:<%= port %>/football/nfl/teams">Teams</a>
                </div>
            </div>

            <div class="leagueSection">
                <img class="logo" src = '../images/nba_logo.png' alt = 'NBA Logo'>
                <div class="linkSection">
                    <a href="http://localhost:<%= port %>/basketball/nba/games">Games</a>
                    <a href="http://localhost:<%= port %>/basketball/nba/teams">Teams</a>
                </div>
            </div>
        </div>

        <div class = "imageRow">
            <div class="leagueSection">
                <img class="logo" src = '../images/mlb_logo.png' alt = 'MLB Logo'>
                <div class="linkSection">
                    <a href="http://localhost:<%= port %>/baseball/mlb/games">Games</a>
                    <a href="http://localhost:<%= port %>/baseball/mlb/teams">Teams</a>
                </div>
            </div>

            <div class="leagueSection">
                <img class="logo" src = '../images/nhl_logo.png' alt = 'NHL Logo'>
                <div class="linkSection">
                    <a href="http://localhost:<%= port %>/hockey/nhl/games">Games</a>
                    <a href="http://localhost:<%= port %>/hockey/nhl/teams">Teams</a>
                </div>
            </div>
        </div>

        <script src="../../src/index.ts"></script>
    </body>
</html>