<% 
    let index = 0;
%>

<!DOCTYPE html>

<html>
    <head>
        <title><%= league.toUpperCase() %> Stats</title>
        <link rel="stylesheet" href="/styles/league_stats.css">
    </head>

    <body>

        <%- include ('menu_header') %>

        <h1><%= league.toUpperCase() %> Stats</h1>

        <!--Lets do it so you can pick a category-->
        <div name="selectors">

            <label for="categorySelect">Select Category:</label>
            <select id="categorySelect" name="categorySelect"> <!--pick category-->
                <% leagueStats[0].categories.forEach(category => { %>
                    <option value="<%= index %>"><%= category.displayName %></option>
                <% index++; 
                })%>
            </select>

        </div>

        <div id="statTables">
            
            <% for (let i = 0; i < leagueStats[0].categories.length; i++) { <!--loop through the category names and make table for each-->
                
                index = 0; %>
                <div class="tableDiv">

                    <h3><%= leagueStats[0].categories[i].displayName %></h3> <!--category name-->
                    <table>
                        <tr>
                            <th>Rank</th>
                            <th>Team</th> <!--Team column-->
                            <!--populate first row with the names of stats in current category-->
                            <% leagueStats[0].categories[i].stats.forEach(stat => { %>
                                <th class="statName" onclick="sortTable(<%= index %>)"> <!--give each column header an index name-->
                                    <div class="tooltip"><%= stat.abbreviation %>
                                        <span class="tooltip-text">
                                            <u><%= stat.displayName %></u>
                                            <br>
                                            <%= stat.description %>
                                        </span>
                                    </div>
                                </th>
                                <% index++;
                            }); %>
                        </tr>
                        <!--go through each team in leagueStats and display their stats-->
                        <% 
                        index = 0;
                        let rowCol = 0;
                        leagueStats.forEach(team => { %>
                            <tr>
                                <th><%= ++rowCol %></th>
                                <th class="name"><%= team.teamName %></th>
                                <% team.categories[i].stats.forEach(stat => { %>
                                    <td><%= stat.displayValue %></td>
                                    <% index++;
                                }); %>
                            </tr>
                        <% index = 0; 
                        }); %>
                    </table>
                </div>
            <% } %>
        </div>

        <%- include ('footer') %>

        <script type="text/javascript">
            const leagueStats = <%- JSON.stringify(leagueStats) %>;
            const categorySelector = document.getElementById('categorySelect'); //category select
            categorySelector.value = 0; //make the first option selected by default
            let evenClick = true; //use this to help alternate sorting in opposite directions

            const tableDivs = document.querySelectorAll('.tableDiv');
            tableDivs.forEach(div => div.style.display = 'none');

            //make stat selects and tables appear
            function toggleTable(){
                const index = categorySelector.value;
                tableDivs.forEach(table => table.style.display = 'none');
                tableDivs[index].style.display = 'block';
            }

            //sort table
            function sortTable(colIndex){ //give column index of table for leagueStats lookup

                const catIndex = categorySelector.value; //value of selected category

                //sort the leagueStats array, every other click sorts it from least to greatest
                evenClick = !evenClick;
                //color of sorted column
                const sortedColumnClass = (evenClick) ? "greatestSorted" : "leastSorted";

                if (evenClick){ //if true, sort from greatest, if false, sort from least
                    leagueStats.sort((team1, team2) => team2.categories[catIndex].stats[colIndex].value - 
                     team1.categories[catIndex].stats[colIndex].value);
                } else {
                    leagueStats.sort((team1, team2) => team1.categories[catIndex].stats[colIndex].value - 
                     team2.categories[catIndex].stats[colIndex].value);
                }
                
                //replace each row except for the first one
                const table = document.querySelectorAll('table')[catIndex];
                table.replaceChildren(table.rows[0]);

                let rankedRow = 1;

                leagueStats.forEach(team => {
                    const row = document.createElement('tr');
                    const name = document.createElement('th');
                    const rowNum = document.createElement('th');
                    name.textContent = team.teamName; //add in team name cell
                    name.classList.add("name"); //add name class to team name elements
                    rowNum.textContent = rankedRow;
                    row.append(rowNum);
                    row.append(name);
                    let index = 0;
                    team.categories[catIndex].stats.forEach(stat => { //go through each stat and make the cell
                        const cell = document.createElement('td');
                        cell.classList.add("stat");
                        cell.setAttribute('name', index);
                        index++;
                        cell.textContent = stat.displayValue;
                        row.append(cell);
                    });
                    table.append(row);
                    rankedRow++;
                });
                const statCells = document.querySelectorAll('.stat');
                statCells.forEach(cell => {
                    if (Number(cell.getAttribute("name")) == colIndex){
                        cell.classList.add(sortedColumnClass);
                    } else {
                        cell.classList.remove("leastSorted", "greatestSorted");
                    }
                });
            }

            toggleTable();

            categorySelector.addEventListener('change', toggleTable);
        </script>
    </body>
</html>