<%

    const firstConferenceDivisions = (league == "NFL") ? ["AFC East", "AFC North", "AFC South", "AFC West"] 
        : (league == "NBA") ? ["Atlantic", "Central", "Southeast"] :
        (league == "NHL") ? ["Atlantic", "Metropolitan"] : ["AL East", "AL Cent", "AL West"];
    
    const secondConferenceDivisions = (league == "NFL") ? ["NFC East", "NFC North", "NFC South", "NFC West"] 
        : (league == "NBA") ? ["Northwest", "Pacific", "Southwest"] :
        (league == "NHL") ? ["Central", "Pacific"] : ["NL East", "NL Cent", "NL West"];

    const conferenceNames = (league == "NFL") ? ["AFC", "NFC"] 
        : (league == "NBA") ? ["Eastern Conference", "Western Conference"] :
        (league == "NHL") ? ["Eastern Conference", "Western Conference"] : ["American League", "National League"];

    const firstConferenceTeams = teamStandings.filter(team => 
        firstConferenceDivisions.some(division => team.standingSummary.includes(division)));
    
    const secondConferenceTeams = teamStandings.filter(team => 
        secondConferenceDivisions.some(division => team.standingSummary.includes(division)));
%>

<!DOCTYPE html>

<html>
    <head>
        <title><%= league %> Standings</title>
        <link rel="stylesheet" href="/styles/league_standings.css">
    </head>

    <body>

        <%- include ('menu_header') %>

        <div id="titleSection">
            <% if (league == "MLB"){ %>
                <img src = '/images/mlb_logo.png' id='mainLogo' alt = 'MLB Logo'>
            <% } else if (league == "NBA"){ %>
                <img src = '/images/nba_logo.png' id='mainLogo' alt = 'NBA Logo'>
            <% } else if (league == "NFL"){ %>
                <img src = '/images/nfl_logo.png' id='mainLogo' alt = 'NFL Logo'>
            <% } else { %>
                <img src = '/images/nhl_logo.png' id='mainLogo' alt = 'NHL Logo'>
            <% } %>
            <h1><%= league %> Standings</h1>
        </div>

        <% if (teamStandings.length == 0){ %>
            <h2>No standings data available at this time.</h2>    
        <% } else { %>

            <!--This portion will be dedicated to division focused standings. Dividing teams by divisions-->
            <div id="basicStandingsDiv">

                <!--For Each Conference-->
                <% let div = 1; %>
                <% conferenceNames.forEach(conference => { %>

                    <!--Get the divisions of conference and loop through the divisions-->
                    <% const divisions = (conference == conferenceNames[0]) ? firstConferenceDivisions : secondConferenceDivisions; %>
                    <div class="conferenceDiv">

                        <!--loop through divisions-->
                        <% divisions.forEach(division => { %>
                            <div class="divisionDiv">
                                <h2 class="importantHeadline"><%= division %></h2>
                                <table>
                                    <!--Header section for table-->
                                    <tr>
                                        <th>Team</th>
                                        <th>GP</th>
                                        <th>W</th>
                                        <th>L</th>
                                        <% if (league == "NFL"){ %>
                                            <th>T</th>
                                        <% } else if (league == "NHL"){ %>
                                            <th>OTL</th>
                                            <th>P</th>
                                        <% } %>
                                        <th>PCT</th>
                                    </tr>
                                    <!--From response data array, filter out teams that are in this division-->
                                    <% const divisionTeams = teamStandings.filter(team => team.standingSummary.includes(division)); %>

                                    <!--Sort the teams by playoff seeds-->
                                    <% divisionTeams.sort((a, b) => a.playoffSeed - b.playoffSeed); %>

                                    <!--For each team, make a row for its standings-->
                                    <% rank = 1; %>
                                    <% divisionTeams.forEach(team => { %>
                                        <!--give row id by division number and its team seed-->
                                        <tr id="div<%= div %>-seed<%= team.playoffSeed %>-rank<%= rank %>">
                                            <!--Now put in the standing stats-->
                                            <td class="teamTD">
                                                <img src="<%= team.logo %>" class="teamLogo">
                                                <%= team.abbreviation %>
                                            </td>
                                            <td><%= Math.trunc(team.gamesPlayed) %></td>
                                            <td><%= Math.trunc(team.wins) %></td>
                                            <td><%= Math.trunc(team.losses) %></td>
                                            <% if (league == "NFL"){ %>
                                                <td><%= Math.trunc(team.ties) %></td>
                                            <% } else if (league == "NHL"){ %>
                                                <td><%= Math.trunc(team.otLosses) %></td>
                                                <td><%= Math.trunc(team.points) %></td>
                                            <% } %>
                                            <td><%= Math.trunc(team.winPercent * 100) %>%</td>
                                        </tr>
                                        <% rank++; %>
                                    <% }) %>
                                </table>
                            </div>
                            <% div++; %> <!--increase div for next division-->
                        <% }) %>
                    </div>

                <% }) %>
            </div>

            <!--This portion will be dedicated to conference focused standings. Dividing teams by conferences-->
            <h1 class="importantHeadline">Conference Standings</h1>

            <div id="overallStandingsDiv">

                <!--Go through both conferences-->
                <% let conf = 1; %>
                <% conferenceNames.forEach(conference => { %>
                    <!--choose the conference teams-->
                    <% const conferenceTeams = (conf == 1) ? firstConferenceTeams : secondConferenceTeams; %>
                    <div class="conferenceDiv">

                        <h2 class="importantHeadline"><%= conference %></h2>

                        <!--Table headers-->
                        <table>
                            <tr>
                                <th>Team</th>
                                <th>GP</th>
                                <th>W</th>
                                <th>L</th>
                                <% if (league == "NFL"){ %>
                                    <th>T</th>
                                <% } else if (league == "NHL"){ %>
                                    <th>OTL</th>
                                    <th>P</th>
                                <% } %>
                                <th>PCT</th>
                            </tr>

                            <% conferenceTeams.sort((a, b) => a.playoffSeed - b.playoffSeed); %>
                            
                            <% conferenceTeams.forEach(team => { %>
                                <tr id="conf<%= conf %>-seed<%= team.playoffSeed %>">
                                    <td class="teamTD">
                                        <img src="<%= team.logo %>" class="teamLogo">
                                        <%= team.abbreviation %>
                                    </td>
                                    <td><%= Math.trunc(team.gamesPlayed) %></td>
                                    <td><%= Math.trunc(team.wins) %></td>
                                    <td><%= Math.trunc(team.losses) %></td>
                                    <% if (league == "NFL"){ %>
                                        <td><%= Math.trunc(team.ties) %></td>
                                    <% } else if (league == "NHL"){ %>
                                        <td><%= Math.trunc(team.otLosses) %></td>
                                        <td><%= Math.trunc(team.points) %></td>
                                    <% } %>
                                    <td><%= Math.trunc(team.winPercent * 100) %>%</td>
                                </tr>
                            <% }) %>
                        </table>
                    </div>
                    <% conf++; %>
                <% }) %>
            </div>

        <% } %>
    </body>

    <script>
        const league = "<%= league %>";
        const confRows = document.querySelectorAll('[id^="conf"]');
        const divRows = document.querySelectorAll('[id^="div"]');

        const playoffSeedCutoff = (league == "NFL") ? 4 : 
            (league.toUpperCase() == "NBA") ? 6 : (league.toUpperCase() == "NHL") ? 6 : 3;

        const wildcardSeedCutoff = (league == "NFL") ? 7 : 
            (league.toUpperCase() == "NBA") ? 10 : (league.toUpperCase() == "NHL") ? 8 : 6;

        //function to add specific classes to rows in division portion
        function addClassesToDivStandings(row){
            const seed = row.id.split("-seed")[1].split("-rank")[0];
            if (league == "NHL"){
                const rank = row.id.split("-rank")[1];
                row.classList.add((rank <= 3) ? 'playoffTeam' : 
                    (seed <= wildcardSeedCutoff) ? 'wildcardTeam' : 'nonplayoffTeam');
            } else {
                row.classList.add((seed <= playoffSeedCutoff) ? 'playoffTeam' : 
                    (seed <= wildcardSeedCutoff) ? 'wildcardTeam' : 'nonplayoffTeam');
            }
        }

        //function to add specific classes to rows in conference portion
        function addClassesToConfStandings(row){
            const seed = row.id.split("-seed")[1].split("-rank")[0];
            row.classList.add((seed <= playoffSeedCutoff) ? 'playoffTeam' : 
                (seed <= wildcardSeedCutoff) ? 'wildcardTeam' : 'nonplayoffTeam');
        }

        divRows.forEach(row => addClassesToDivStandings(row));
        confRows.forEach(row => addClassesToConfStandings(row));
    </script>

</html>