<%

    const firstConferenceDivisions = (league.toUpperCase() == "NFL") ? ["AFC East", "AFC North", "AFC South", "AFC West"] 
        : (league.toUpperCase() == "NBA") ? ["Atlantic", "Central", "Southeast"] :
        (league.toUpperCase() == "NHL") ? ["Atlantic", "Metropolitan"] : ["AL East", "AL Cent", "AL West"];
    
    const secondConferenceDivisions = (league.toUpperCase() == "NFL") ? ["NFC East", "NFC North", "NFC South", "NFC West"] 
        : (league.toUpperCase() == "NBA") ? ["Northwest", "Pacific", "Southwest"] :
        (league.toUpperCase() == "NHL") ? ["Central", "Pacific"] : ["NL East", "NL Cent", "NL West"];

    const conferenceNames = (league.toUpperCase() == "NFL") ? ["AFC", "NFC"] 
        : (league.toUpperCase() == "NBA") ? ["Eastern Conference", "Western Conference"] :
        (league.toUpperCase() == "NHL") ? ["Eastern Conference", "Western Conference"] : ["American League", "National League"];

    const firstConferenceTeams = teamStandings.filter(team => 
        firstConferenceDivisions.some(division => team.team.standingSummary.includes(division)));
    
    const secondConferenceTeams = teamStandings.filter(team => 
        secondConferenceDivisions.some(division => team.team.standingSummary.includes(division)));

%>

<!DOCTYPE html>

<html>
    <head>
        <title><%= league.toUpperCase() %> Standings</title>
        <link rel="stylesheet" href="/styles/league_standings.css">
    </head>

    <body>

        <%- include ('menu_header') %>

        <div id="titleSection">
            <% if (league.toUpperCase() == "MLB"){ %>
                <img src = '/images/mlb_logo.png' id='mainLogo' alt = 'MLB Logo'>
            <% } else if (league.toUpperCase() == "NBA"){ %>
                <img src = '/images/nba_logo.png' id='mainLogo' alt = 'NBA Logo'>
            <% } else if (league.toUpperCase() == "NFL"){ %>
                <img src = '/images/nfl_logo.png' id='mainLogo' alt = 'NFL Logo'>
            <% } else { %>
                <img src = '/images/nhl_logo.png' id='mainLogo' alt = 'NHL Logo'>
            <% } %>
            <h1><%= league.toUpperCase() %> Standings</h1>
        </div>

        <div id="divisionStandingsDiv"><!--This will have flex direction row, have conference side by side-->

            <div class="conferenceDiv">
                <% firstConferenceDivisions.forEach(division => { %>
                    <div class="divisionDiv">
                        <h2 class="importantHeadline"><%= division %></h2>
                        <table>
                            <tr>
                                <th>Team</th>
                                <th>GP</th>
                                <% if (league.toUpperCase() == "NHL"){ %>
                                    <th>P</th>
                                <% } %>
                                <th>W</th>
                                <th>L</th>
                                <% if (league.toUpperCase() == "NFL"){ %>
                                    <th>T</th>
                                <% } else if (league.toUpperCase() == "NHL"){ %>
                                    <th>OTL</th>
                                <% } %>
                                <th>PCT</th>
                            </tr>
                            <% const divisionTeams = teamStandings.filter(team => team.team.standingSummary.includes(division)); %>
                            <!--Sort the teams by playoff seeds-->
                            <% divisionTeams.sort((a, b) => 
                                a.team.record.items[0].stats.find(stat => stat.name == "playoffSeed").value - 
                                    b.team.record.items[0].stats.find(stat => stat.name == "playoffSeed").value); %>
                            <% divisionTeams.forEach(team => { %>
                                <tr>
                                    <td class="teamTD">
                                        <img src="<%= team.team.logos[0].href %>" alt="<%= team.team.name %> Logo" class="teamLogo">
                                        <%= team.team.abbreviation %>
                                    </td>
                                    <td><%= Math.trunc(team.team.record.items[0].stats.find(stat => stat.name == "gamesPlayed").value) %></td>
                                    <% if (league.toUpperCase() == "NHL"){ %>
                                        <td><%= Math.trunc(team.team.record.items[0].stats.find(stat => stat.name == "points").value) %></td>
                                    <% } %>
                                    <td><%= Math.trunc(team.team.record.items[0].stats.find(stat => stat.name == "wins").value) %></td>
                                    <td><%= Math.trunc(team.team.record.items[0].stats.find(stat => stat.name == "losses").value) %></td>
                                    <% if (league.toUpperCase() == "NFL"){ %>
                                        <td><%= Math.trunc(team.team.record.items[0].stats.find(stat => stat.name == "ties").value) %></td>
                                    <% } else if (league.toUpperCase() == "NHL"){ %>
                                        <td><%= Math.trunc(team.team.record.items[0].stats.find(stat => stat.name == "otLosses").value) %></td>
                                    <% } %>
                                    <td><%= Math.trunc(team.team.record.items[0].stats.find(stat => stat.name == "winPercent").value * 100) %>%</td>
                                </tr>
                            <% }) %>
                        </table>
                    </div>
                <% }) %>
            </div>

            <div class="conferenceDiv">
                <% secondConferenceDivisions.forEach(division => { %>
                    <div class="divisionDiv">
                        <h2 class="importantHeadline"><%= division %></h2>
                        <table>
                            <tr>
                                <th>Team</th>
                                <th>GP</th>
                                <% if (league.toUpperCase() == "NHL"){ %>
                                    <th>P</th>
                                <% } %>
                                <th>W</th>
                                <th>L</th>
                                <% if (league.toUpperCase() == "NFL"){ %>
                                    <th>T</th>
                                <% } else if (league.toUpperCase() == "NHL"){ %>
                                    <th>OTL</th>
                                <% } %>
                                <th>PCT</th>
                            </tr>
                            <% const divisionTeams = teamStandings.filter(team => team.team.standingSummary.includes(division)); %>
                            <!--Sort the teams by playoff seeds-->
                            <% divisionTeams.sort((a, b) => 
                                a.team.record.items[0].stats.find(stat => stat.name == "playoffSeed").value - 
                                    b.team.record.items[0].stats.find(stat => stat.name == "playoffSeed").value); %>
                            <% divisionTeams.forEach(team => { %>
                                <tr>
                                    <td class="teamTD">
                                        <img src="<%= team.team.logos[0].href %>" alt="<%= team.team.name %> Logo" class="teamLogo">
                                        <%= team.team.abbreviation %>
                                    </td>
                                    <td><%= Math.trunc(team.team.record.items[0].stats.find(stat => stat.name == "gamesPlayed").value) %></td>
                                    <% if (league.toUpperCase() == "NHL"){ %>
                                        <td><%= Math.trunc(team.team.record.items[0].stats.find(stat => stat.name == "points").value) %></td>
                                    <% } %>
                                    <td><%= Math.trunc(team.team.record.items[0].stats.find(stat => stat.name == "wins").value) %></td>
                                    <td><%= Math.trunc(team.team.record.items[0].stats.find(stat => stat.name == "losses").value) %></td>
                                    <% if (league.toUpperCase() == "NFL"){ %>
                                        <td><%= Math.trunc(team.team.record.items[0].stats.find(stat => stat.name == "ties").value) %></td>
                                    <% } else if (league.toUpperCase() == "NHL"){ %>
                                        <td><%= Math.trunc(team.team.record.items[0].stats.find(stat => stat.name == "otLosses").value) %></td>
                                    <% } %>
                                    <td><%= Math.trunc(team.team.record.items[0].stats.find(stat => stat.name == "winPercent").value * 100) %>%</td>
                                </tr>
                            <% }) %>
                        </table>
                    </div>
                <% }) %>
            </div>
        </div>

        <h1 class="importantHeadline">Conference Standings</h1>

        <div id="conferenceStandingsDiv">

            <div class="conferenceDiv">
                <h2 class="importantHeadline"><%= conferenceNames[0] %></h2>

                <table>
                    <tr>
                        <th>Team</th>
                        <% if (league.toUpperCase() == "NHL"){ %>
                            <th>P</th>
                        <% } %>
                        <th>GP</th>
                        <th>W</th>
                        <th>L</th>
                        <% if (league.toUpperCase() == "NFL"){ %>
                            <th>T</th>
                        <% } else if (league.toUpperCase() == "NHL"){ %>
                            <th>OTL</th>
                        <% } %>
                        <th>PCT</th>
                    </tr>

                    <% firstConferenceTeams.sort((a, b) => a.team.record.items[0].stats.find(stat => 
                        stat.name == "playoffSeed").value - b.team.record.items[0].stats.find(stat => 
                            stat.name == "playoffSeed").value); %>
                    
                    <% firstConferenceTeams.forEach(team => { %>
                        <tr>
                            <td class="teamTD">
                                <img src="<%= team.team.logos[0].href %>" alt="<%= team.team.name %> Logo" class="teamLogo">
                                <%= team.team.abbreviation %>
                            </td>
                            <td><%= Math.trunc(team.team.record.items[0].stats.find(stat => stat.name == "gamesPlayed").value) %></td>
                            <% if (league.toUpperCase() == "NHL"){ %>
                                <td><%= Math.trunc(team.team.record.items[0].stats.find(stat => stat.name == "points").value) %></td>
                            <% } %>
                            <td><%= Math.trunc(team.team.record.items[0].stats.find(stat => stat.name == "wins").value) %></td>
                            <td><%= Math.trunc(team.team.record.items[0].stats.find(stat => stat.name == "losses").value) %></td>
                            <% if (league.toUpperCase() == "NFL"){ %>
                                <td><%= Math.trunc(team.team.record.items[0].stats.find(stat => stat.name == "ties").value) %></td>
                            <% } else if (league.toUpperCase() == "NHL"){ %>
                                <td><%= Math.trunc(team.team.record.items[0].stats.find(stat => stat.name == "otLosses").value) %></td>
                            <% } %>
                            <td><%= Math.trunc(team.team.record.items[0].stats.find(stat => stat.name == "winPercent").value * 100) %>%</td>
                        </tr>
                    <% }) %>
                </table>
            </div>


            <div class="conferenceDiv">
                <h2 class="importantHeadline"><%= conferenceNames[1] %></h2>

                <table>
                    <tr>
                        <th>Team</th>
                        <th>GP</th>
                        <% if (league.toUpperCase() == "NHL"){ %>
                            <th>P</th>
                        <% } %>
                        <th>W</th>
                        <th>L</th>
                        <% if (league.toUpperCase() == "NFL"){ %>
                            <th>T</th>
                        <% } else if (league.toUpperCase() == "NHL"){ %>
                            <th>OTL</th>
                        <% } %>
                        <th>PCT</th>
                    </tr>

                    <% secondConferenceTeams.sort((a, b) => a.team.record.items[0].stats.find(stat => 
                        stat.name == "playoffSeed").value - b.team.record.items[0].stats.find(stat => 
                            stat.name == "playoffSeed").value); %>
                    
                    <% secondConferenceTeams.forEach(team => { %>
                        <tr>
                            <td class="teamTD">
                                <img src="<%= team.team.logos[0].href %>" alt="<%= team.team.name %> Logo" class="teamLogo">
                                <%= team.team.abbreviation %>
                            </td>
                            <td><%= Math.trunc(team.team.record.items[0].stats.find(stat => stat.name == "gamesPlayed").value) %></td>
                            <% if (league.toUpperCase() == "NHL"){ %>
                                <td><%= Math.trunc(team.team.record.items[0].stats.find(stat => stat.name == "points").value) %></td>
                            <% } %>
                            <td><%= Math.trunc(team.team.record.items[0].stats.find(stat => stat.name == "wins").value) %></td>
                            <td><%= Math.trunc(team.team.record.items[0].stats.find(stat => stat.name == "losses").value) %></td>
                            <% if (league.toUpperCase() == "NFL"){ %>
                                <td><%= Math.trunc(team.team.record.items[0].stats.find(stat => stat.name == "ties").value) %></td>
                            <% } else if (league.toUpperCase() == "NHL"){ %>
                                <td><%= Math.trunc(team.team.record.items[0].stats.find(stat => stat.name == "otLosses").value) %></td>
                            <% } %>
                            <td><%= Math.trunc(team.team.record.items[0].stats.find(stat => stat.name == "winPercent").value * 100) %>%</td>
                        </tr>
                    <% }) %>
                </table>
            </div>
        </div>
    </body>

</html>