<link rel="stylesheet" href="/styles/menu_header.css">
<div id="headerArea">

    <div class="leagueDropDown">
        <a href="/">
            <img id="home" src="/images/home_icon.png">
        </a>
    </div>

    <div class="leagueDropDown" onclick="showDropDown(0)">
        <h1>NFL</h1>
        <div class="list">
            <a href="http://localhost:<%= port %>/football/nfl/teams">NFL Teams</a>
            <a href="http://localhost:<%= port %>/football/nfl/stats">NFL Stats</a>
            <a href="http://localhost:<%= port %>/football/nfl/games">NFL Schedule</a>
        </div>
    </div>

    <div class="leagueDropDown" onclick="showDropDown(1)">
        <h1>NBA</h1>
        <div class="list">
            <a href="http://localhost:<%= port %>/basketball/nba/teams">NBA Teams</a>
            <a href="http://localhost:<%= port %>/basketball/nba/stats">NBA Stats</a>
            <a href="http://localhost:<%= port %>/basketball/nba/games">NBA Schedule</a>
        </div>
    </div>

    <div class="leagueDropDown" onclick="showDropDown(2)">
        <h1>MLB</h1>
        <div class="list">
            <a href="http://localhost:<%= port %>/baseball/mlb/teams">MLB Teams</a>
            <a href="http://localhost:<%= port %>/baseball/mlb/stats">MLB Stats</a>
            <a href="http://localhost:<%= port %>/baseball/mlb/games">MLB Schedule</a>
        </div>
    </div>

    <div class="leagueDropDown" onclick="showDropDown(3)">
        <h1>NHL</h1>
        <div class="list">
            <a href="http://localhost:<%= port %>/hockey/nhl/teams">NHL Teams</a>
            <a href="http://localhost:<%= port %>/hockey/nhl/stats">NHL Stats</a>
            <a href="http://localhost:<%= port %>/hockey/nhl/games">NHL Schedule</a>
        </div>
    </div>
</div>

<script>

    function showDropDown(index){
        const subMenus = document.querySelectorAll(".list");
        subMenus.forEach(subMenu => { subMenu.style.display = 'none'; });
        subMenus[index].style.display = 'block';
    }

    window.addEventListener('click', function (e) {
        if (!e.target.closest('.leagueDropDown')) {
            document.querySelectorAll('.list').forEach(d => d.style.display = 'none');
        }
    });
</script>