
<div id="headerArea">

    <div id="homeDiv">
        <a href="/">
            <img id="home" src="/images/home_icon.png">
        </a>
    </div>

    <div class="leagueDropDown">
        <img id="nfl" src="/images/nfl_logo.png">
        <div class="list">
            <a href="http://localhost:<%= port %>/football/nfl/teams">NFL Teams</a>
            <a href="http://localhost:<%= port %>/football/nfl/stats">NFL Stats</a>
            <a href="http://localhost:<%= port %>/football/nfl/games">NFL Schedule</a>
        </div>
    </div>

    <div class="leagueDropDown">
        <img id="nba" src="/images/nba_logo.png">
        <div class="list">
            <a href="http://localhost:<%= port %>/basketball/nba/teams">NBA Teams</a>
            <a href="http://localhost:<%= port %>/basketball/nba/stats">NBA Stats</a>
            <a href="http://localhost:<%= port %>/basketball/nba/games">NBA Schedule</a>
        </div>
    </div>

    <div class="leagueDropDown">
        <img id="mlb" src="/images/mlb_logo.png">
        <div class="list">
            <a href="http://localhost:<%= port %>/baseball/mlb/teams">MLB Teams</a>
            <a href="http://localhost:<%= port %>/baseball/mlb/stats">MLB Stats</a>
            <a href="http://localhost:<%= port %>/baseball/mlb/games">MLB Schedule</a>
        </div>
    </div>

    <div class="leagueDropDown">
        <img id="nhl" src="/images/nhl_logo.png">
        <div class="list">
            <a href="http://localhost:<%= port %>/hockey/nhl/teams">NHL Teams</a>
            <a href="http://localhost:<%= port %>/hockey/nhl/stats">NHL Stats</a>
            <a href="http://localhost:<%= port %>/hockey/nhl/games">NHL Schedule</a>
        </div>
    </div>
</div>