<%
    //filter the games depending on if finished, active or upcoming to divide them into sections on page
    const upcomingGames = data.events.filter(game => game.status.type.state == "pre");
    const activeGames = data.events.filter(game => game.status.type.state == "in");
    const completedGames = data.events.filter(game => game.status.type.state == "post");

    const today = new Date();
    const month = (today.getMonth() + 1 < 10) ? "0" + (today.getMonth() + 1).toString() : 
        (today.getMonth() + 1).toString();
    const day = today.getDate().toString();
    const year = today.getFullYear().toString();
    const fullDate = year + "-" + month + "-" + day;

    const seasonTypeGames = (data.events.length != 0) ? data.events[0].season.slug.charAt(0).toUpperCase()
        + data.events[0].season.slug.slice(1) : "";

    const postseasonGames = [{key: 1, value: "Wild Card"}, {key: 2, value: "Divisional"},
        {key: 3, value: "Conference"}, {key: 5, value: "Super Bowl"}];
%> 

<!DOCTYPE html>
<html>

<head>
    <title><%= league.toUpperCase() %> Games</title>
    <link rel="stylesheet" href="/styles/league_schedule.css">
</head>

<body>

    <%- include ('menu_header') %>

    <% if (league.toUpperCase() == "NFL"){ %>

        <!--This will be what we select for the week, will show all games for the week-->
        <form method="GET">

            <label for="season">Select Season:</label>
            <select name="season">
                <% for (let i = year; i >= 2000; i--){ %>
                    <option value="<%= i %>"><%= i %></option>
                <% } %>
            </select>

            <label for="seasonType">Select Season Type:</label>
            <select id="typeSelector" name="seasonType">
                <option value="2">Regular Season</option>
                <option value="3">Postseason</option>
            </select>

            <label for="week">Select Week:</label>
            <select id="weekSelector" name="week"></select>

            <button>Submit</button>
        </form>

    <% } else { %>
        <form id="dateSelection" method="GET">
            <input id="date" name="date" type="date">
            <button type="submit">Submit</button>
        </form>
    <% } %>

    <% if (data.events.length == 0){ %>
        <h1 id="noGamesWarning">No Games Scheduled</h1>
    <% } %>

    <% if (league.toUpperCase() == "NFL") { %> 
        <h2>
            <% if (data.season.type == 3){ %>
                <%= postseasonGames.find(round => round.key == data.week.number).value %>
            <% } else { %>
                <%= "Week " + data.week.number %>
            <% } %>
        </h2> 
    <% } %>

    <h3 class="sectionHeadline">Active <%= seasonTypeGames %> Games</h3>
    <div id="activeGames" class="gamesLayout">

        <% activeGames.forEach(game => { %>

            <div id="<%= game.id %>" class="gameContainer">
                <div class="awayTeamDiv">
                    <img class="teamLogo" src="<%= game.competitions[0].competitors[1].team.logo %>">
                    <p><%= game.competitions[0].competitors[1].team.abbreviation %></p>
                </div>

                <div class="gameTimeDiv">
                    <p class="status">
                        <% if (league.toUpperCase() == "MLB"){ %>
                            <%= game.competitions[0].status.type.shortDetail %>
                        <% } else { %>
                            <%= game.competitions[0].status.type.detail %>
                        <% } %>
                    </p>
                    <p class="mlbCount">
                        <% if (league.toUpperCase() == "MLB"){ %>
                            <%= game.competitions[0].situation.balls + "-" + game.competitions[0].situation.strikes
                                +  " " + game.competitions[0].situation.outs + " outs" %>
                        <% } %>
                    </p>
                    <p class="score"><%= game.competitions[0].competitors[1].score %> - 
                        <%= game.competitions[0].competitors[0].score %></p>
                    <p class="seriesRecord"></p>
                    <a href="http://localhost:<%= port %>/<%= sport %>/<%= league %>/games/<%= game.id %>">
                        Game Stats
                    </a>
                </div>

                <div class="homeTeamDiv">
                    <img class="teamLogo" src="<%= game.competitions[0].competitors[0].team.logo %>">
                    <p><%= game.competitions[0].competitors[0].team.abbreviation %></p>
                </div>
            </div>
        <% }) %>
    </div>
        
    <h3 class="sectionHeadline">Upcoming <%= seasonTypeGames %> Games</h3>
    <div id="upcomingGames" class="gamesLayout">

        <% upcomingGames.forEach(game => { %>

            <div id="<%= game.id %>" class="gameContainer">
                <div class="awayTeamDiv">
                    <img class="teamLogo" src="<%= game.competitions[0].competitors[1].team.logo %>">
                    <p><%= game.competitions[0].competitors[1].team.abbreviation %></p>
                </div>

                <div class="gameTimeDiv">
                    <p class="status">
                        <% if (data.day !== undefined && fullDate != data.day.date){ %>
                            <%= game.competitions[0].status.type.shortDetail %>
                        <% } else { %>
                            <%= game.competitions[0].status.type.shortDetail.substring(
                                game.competitions[0].status.type.shortDetail.indexOf("-") + 2); %>
                        <% } %>
                    </p>
                    <p class="mlbCount"></p>
                    <p class="score"></p>
                    <p class="seriesRecord">
                        <% if (data.leagues[0].season.type.type == 3){ %>
                            <%= game.competitions[0].series.summary %>
                        <% } %>
                    </p>
                    <a href="http://localhost:<%= port %>/<%= sport %>/<%= league %>/games/<%= game.id %>">
                        Game Stats
                    </a>
                </div>

                <div class="homeTeamDiv">
                    <img class="teamLogo" src="<%= game.competitions[0].competitors[0].team.logo %>">
                    <p><%= game.competitions[0].competitors[0].team.abbreviation %></p>
                </div>
            </div>

        <% }) %>
    </div>
        
    <h3 class="sectionHeadline">Completed <%= seasonTypeGames %> Games</h3>
    <div id="completedGames" class="gamesLayout">
        
        <% completedGames.forEach(game => { %>

            <div id="<%= game.id %>" class="gameContainer">
                <div class="awayTeamDiv">
                    <img class="teamLogo" src="<%= game.competitions[0].competitors[1].team.logo %>">
                    <p><%= game.competitions[0].competitors[1].team.abbreviation %></p>
                </div>

                <div class="gameTimeDiv">
                    <p class="status"><%= game.competitions[0].status.type.detail %></p>
                    <p class="mlbCount"></p>
                    <p class="score">
                        <%= game.competitions[0].competitors[1].score %> - 
                        <%= game.competitions[0].competitors[0].score %>
                    </p>
                    <p class="seriesRecord">
                        <% if (game.competitions[0].series !== undefined){ %>
                            <%= game.competitions[0].series.summary %>
                        <% } %>
                    </p>
                    <a href="http://localhost:<%= port %>/<%= sport %>/<%= league %>/games/<%= game.id %>">
                        Game Stats
                    </a>
                </div>

                <div class="homeTeamDiv">
                    <img class="teamLogo" src="<%= game.competitions[0].competitors[0].team.logo %>">
                    <p><%= game.competitions[0].competitors[0].team.abbreviation %></p>
                </div>
            </div>

        <% }) %>
    </div>

    <%- include ('footer') %>

    <script>

        const form = document.getElementById("dateSelection");
        const dateInput = document.getElementById('date');

        //selectors
        const typeSelector = document.getElementById('typeSelector');
        const weekSelector = document.getElementById('weekSelector');

        //divs
        const upcomingGames = document.getElementById('upcomingGames');
        const activeGames = document.getElementById('activeGames');
        const completedGames = document.getElementById('completedGames');
        const headlines = document.querySelectorAll('.sectionHeadline');

        if (activeGames.childNodes.length == 0){ 
            headlines[0].style.display = 'none';
        }
        if (upcomingGames.childNodes.length == 0){ 
            headlines[1].style.display = 'none';
        }
        if (completedGames.childNodes.length == 0){ 
            headlines[2].style.display = 'none';
        }

        //endpoint to send requests to
        const endpoint = <%- JSON.stringify(endpoint) %>;
        const league = <%- JSON.stringify(league) %>;

        function getOptions(){

            const type = typeSelector.value;
            weekSelector.innerHTML = '';

            if (type == "2"){
                
                for (let i = 1; i < 19; i++){
                    const option = document.createElement('option');
                    option.value = i;
                    option.textContent = "Week " + i.toString();
                    weekSelector.appendChild(option);
                }

            } else {

                const postseasonGames = [{key: 1, value: "Wild Card"}, {key: 2, value: "Divisional"},
                    {key: 3, value: "Conference"}, {key: 5, value: "Super Bowl"}];
                
                postseasonGames.forEach(round => {
                    const option = document.createElement('option');
                    option.value = round.key;
                    option.textContent = round.value;
                    weekSelector.appendChild(option);
                });
            }
        }

        if (typeSelector){ //if its for football games, add listener for week selection

            typeSelector.addEventListener('change', getOptions);
            getOptions();

        } else { //otherwise, add listener for date selection

            form.addEventListener("submit", function() {
                const dateValue = date.value;

                if (!dateValue) {
                    event.preventDefault();
                    alert('Please select a date.');
                    return;
                }
            });
        }

        //this will be the function to auto update the games.
        async function updateGames(){

            //get the data, get link from router
            const update = await (await fetch(endpoint)).json();
            //go through updated data for games
            update.events.forEach(game => {
                //find the element with game ID
                const gameDiv = document.getElementById(game.id);
                //if in first two divs, and status has changed, make changes to game
                if ((gameDiv.parentNode.id == "upcomingGames" && game.status.type.state != "pre") ||
                    (gameDiv.parentNode.id == "activeGames" && game.status.type.state != "in")){
                    //get status of game
                    if (league.toUpperCase() == "MLB" && game.status.type.state == "in"){
                        gameDiv.querySelector('.status').textContent = game.status.type.shortDetail;
                        gameDiv.querySelector('.mlbCount').textContent = game.competitions[0].situation.balls +
                             "-" + game.competitions[0].situation.strikes +  " " + 
                                game.competitions[0].situation.outs + " outs";
                    } else {
                        gameDiv.querySelector('.status').textContent = game.status.type.detail;
                    }
                    //get score of game
                    gameDiv.querySelector('.score').textContent = game.competitions[0].competitors[1].score + " - "
                        + game.competitions[0].competitors[0].score;
                    //for series score updates on final games
                    if (game.status.type.state == "post" && game.competitions[0].series !== undefined){
                        gameDiv.querySelector('.seriesRecord').textContent = game.competitions[0].series.summary;
                    } else {
                        gameDiv.querySelector('.seriesRecord').textContent = "";
                    }

                    gameDiv.parentNode.removeChild(gameDiv); //remove from current div
                    //add to correct div
                    if (game.status.type.state == "in"){
                        if (activeGames.childNodes.length == 0){
                            headlines[0].style.display = 'flex';
                        }
                        activeGames.appendChild(gameDiv);
                    } else {
                        if (completedGames.childNodes.length == 0){
                            headlines[2].style.display = 'flex';
                        }
                        completedGames.appendChild(gameDiv);
                    }
                }
                //else, if game is active but no status change, just update the score and time
                else if (gameDiv.parentNode.id == "activeGames") {
                    if (league.toUpperCase() == "MLB" && game.status.type.state == "in"){
                        gameDiv.querySelector('.status').textContent = game.status.type.shortDetail;
                        gameDiv.querySelector('.mlbCount').textContent = game.competitions[0].situation.balls +
                             "-" + game.competitions[0].situation.strikes +  " " + 
                                game.competitions[0].situation.outs + " outs";
                    } else {
                        gameDiv.querySelector('.status').textContent = game.status.type.detail;
                    }
                    gameDiv.querySelector('.score').textContent = game.competitions[0].competitors[1].score + " - " 
                        + game.competitions[0].competitors[0].score;
                }
            });

            //check to see if active or upcoming games are empty and hide them if so, or put them back
            if (upcomingGames.childNodes.length == 0){
                headlines[1].style.display = 'none';
            }

            if (activeGames.childNodes.length == 0){
                headlines[0].style.display = 'none';
            }

            if (activeGames.childNodes.length == 0 && upcomingGames.childNodes.length == 0){
                clearInterval(requests);
            }
        }
        
        let requests = setInterval(updateGames, 10000); //update games every 20 seconds
        //immediately clear it if all games are already final upon initial page load or user refresh
        if (activeGames.childNodes.length == 0 && upcomingGames.childNodes.length == 0){
            clearInterval(requests);
        }
  </script>
</body>
</html>