<%
    //filter the games depending on if finished, active or upcoming to divide them into sections on page
    const upcomingGames = data.events.filter(game => game.status.type.state == "pre");
    const activeGames = data.events.filter(game => game.status.type.state == "in");
    const completedGames = data.events.filter(game => game.status.type.state == "post");

    const today = new Date();
    const month = (today.getMonth() + 1 < 10) ? "0" + (today.getMonth() + 1).toString() : 
        (today.getMonth() + 1).toString();
    const day = today.getDate().toString();
    const year = today.getFullYear().toString();
    const fullDate = year + "-" + month + "-" + day;

    const seasonTypeGames = (data.events.length != 0) ? data.events[0].season.slug.charAt(0).toUpperCase()
        + data.events[0].season.slug.slice(1) : "";

    const postseasonGames = [{key: 1, value: "Wild Card"}, {key: 2, value: "Divisional"},
        {key: 3, value: "Conference"}, {key: 5, value: "Super Bowl"}];
%> 

<!DOCTYPE html>
<html>

<head>
    <title><%= league.toUpperCase() %> Games</title>
    <link rel="stylesheet" href="/styles/league_schedule.css">
</head>

<body>

    <%- include ('menu_header') %>

    <% if (league.toUpperCase() == "NFL"){ %>

        <!--This will be what we select for the week, will show all games for the week-->
        <form method="GET">

            <label for="season">Select Season:</label>
            <select name="season">
                <% for (let i = year; i >= 2000; i--){ %>
                    <option value="<%= i %>"><%= i %></option>
                <% } %>
            </select>

            <label for="seasonType">Select Season Type:</label>
            <select id="typeSelector" name="seasonType">
                <option value="2">Regular Season</option>
                <option value="3">Postseason</option>
            </select>

            <label for="week">Select Week:</label>
            <select id="weekSelector" name="week"></select>

            <button>Submit</button>
        </form>

    <% } else { %>
        <form id="dateSelection" method="GET">
            <input id="date" name="date" type="date">
            <button type="submit">Submit</button>
        </form>
    <% } %>

    <% if (data.events.length == 0){ %>
        <h1 id="noGamesWarning">No Games Scheduled</h1>
    <% } %>

    <% if (league.toUpperCase() == "NFL") { %> 
        <h2>
            <% if (data.season.type == 3){ %>
                <%= postseasonGames.find(round => round.key == data.week.number).value %>
            <% } else { %>
                <%= "Week " + data.week.number %>
            <% } %>
        </h2> 
    <% } %>

    <% if (activeGames.length != 0){ %>

        <h3>Active <%= seasonTypeGames %> Games</h3>
        <div class="gamesLayout">
            <% activeGames.forEach(game => { %>

                <div id="<%= game.id %>" class="gameContainer">
                    <div class="awayTeamDiv">
                        <img class="teamLogo" src="<%= game.competitions[0].competitors[1].team.logo %>">
                        <p><%= game.competitions[0].competitors[1].team.abbreviation %></p>
                    </div>

                    <div class="gameTimeDiv">
                        <p><%= game.competitions[0].status.type.detail %></p>
                        <p><%= game.competitions[0].competitors[1].score %> - 
                            <%= game.competitions[0].competitors[0].score %></p>
                        <a href="http://localhost:<%= port %>/<%= sport %>/<%= league %>/games/<%= game.id %>">
                            Game Stats
                        </a>
                    </div>

                    <div class="homeTeamDiv">
                        <img class="teamLogo" src="<%= game.competitions[0].competitors[0].team.logo %>">
                        <p><%= game.competitions[0].competitors[0].team.abbreviation %></p>
                    </div>
                </div>

            <% }) %>
        </div>
    <% } %>

    <% if (upcomingGames.length != 0){ %>
        
        <h3>Upcoming <%= seasonTypeGames %> Games</h3>
        <div class="gamesLayout">
            <% upcomingGames.forEach(game => { %>

                <div id="<%= game.id %>" class="gameContainer">
                    <div class="awayTeamDiv">
                        <img class="teamLogo" src="<%= game.competitions[0].competitors[1].team.logo %>">
                        <p><%= game.competitions[0].competitors[1].team.abbreviation %></p>
                    </div>

                    <div class="gameTimeDiv">
                        <% if (data.day !== undefined && fullDate != data.day.date){ %>
                            <p><%= game.competitions[0].status.type.shortDetail %></p>
                        <% } else { %>
                            <p>
                                <%= game.competitions[0].status.type.shortDetail.substring(
                                game.competitions[0].status.type.shortDetail.indexOf("-") + 2); %>
                            </p>
                        <% } 

                        if (data.leagues[0].season.type.type == 3){ %>
                            <p><%= game.competitions[0].series.summary %></p>
                        <% } %>
                        <a href="http://localhost:<%= port %>/<%= sport %>/<%= league %>/games/<%= game.id %>">
                            Game Stats
                        </a>
                    </div>

                    <div class="homeTeamDiv">
                        <img class="teamLogo" src="<%= game.competitions[0].competitors[0].team.logo %>">
                        <p><%= game.competitions[0].competitors[0].team.abbreviation %></p>
                    </div>
                </div>

            <% }) %>
        </div>
    <% } %>

    <% if (completedGames.length != 0){ %>
        
        <h3>Completed <%= seasonTypeGames %> Games</h3>
        <div class="gamesLayout">
            
            <% completedGames.forEach(game => { %>

            <div id="<%= game.id %>" class="gameContainer">
                <div class="awayTeamDiv">
                    <img class="teamLogo" src="<%= game.competitions[0].competitors[1].team.logo %>">
                    <p><%= game.competitions[0].competitors[1].team.abbreviation %></p>
                </div>

                <div class="gameTimeDiv">
                    <p><%= game.competitions[0].status.type.detail %></p>
                    <p><%= game.competitions[0].competitors[1].score %> - 
                        <%= game.competitions[0].competitors[0].score %></p>
                    <% if (game.competitions[0].series !== undefined){ %>
                        <p><%= game.competitions[0].series.summary %></p>
                    <% } %>
                    <a href="http://localhost:<%= port %>/<%= sport %>/<%= league %>/games/<%= game.id %>">
                        Game Stats
                    </a>
                </div>

                <div class="homeTeamDiv">
                    <img class="teamLogo" src="<%= game.competitions[0].competitors[0].team.logo %>">
                    <p><%= game.competitions[0].competitors[0].team.abbreviation %></p>
                </div>
            </div>

            <% }) %>
        </div>
    <% } %>

    <%- include ('footer') %>

    <script>
        const form = document.getElementById("dateSelection");
        const dateInput = document.getElementById('date');

        //get the selectors
        const typeSelector = document.getElementById('typeSelector');
        const weekSelector = document.getElementById('weekSelector');

        function getOptions(){

            const type = typeSelector.value;
            weekSelector.innerHTML = '';

            if (type == "2"){
                
                for (let i = 1; i < 19; i++){
                    const option = document.createElement('option');
                    option.value = i;
                    option.textContent = "Week " + i.toString();
                    weekSelector.appendChild(option);
                }

            } else {

                const postseasonGames = [{key: 1, value: "Wild Card"}, {key: 2, value: "Divisional"},
                    {key: 3, value: "Conference"}, {key: 5, value: "Super Bowl"}];
                
                postseasonGames.forEach(round => {
                    const option = document.createElement('option');
                    option.value = round.key;
                    option.textContent = round.value;
                    weekSelector.appendChild(option);
                });
            }
        }

        typeSelector.addEventListener('change', getOptions);
        getOptions();

        form.addEventListener("submit", function() {
            const dateValue = date.value;

            if (!dateValue) {
                event.preventDefault();
                alert('Please select a date.');
                return;
            }
        });
  </script>
</body>
</html>