<!DOCTYPE html>

<html>

    <head>
        <title><%= data.displayName %></title>
        <link rel="stylesheet" href="/styles/team_page.css">
    </head>

    <body>

        <%- include ('menu_header') %>

        <div id="titleSection">
            <img id="teamLogo" src="<%= data.logoUrl %>">
            <h1><%= data.displayName %></h1>
            <% if (data.recordSummary != '') { %>
                <h4>Current Record: <%= data.recordSummary %></h4>
            <% } %>
        </div>

        <div id="linkSection">

            <div class="link">
                <img class="icon" src="/images/roster_icon.png">
                <a href="http://localhost:<%= port %>/<%= sport %>/<%= league %>/teams/<%= team %>/roster">
                    Team Roster
                </a>
            </div>
            <div class="link">
                <img class="icon" src="/images/schedule_icon.png">
                <a href="http://localhost:<%= port %>/<%= sport %>/<%= league %>/teams/<%= team %>/schedule">
                    Team Schedule
                </a>
            </div>
            <div class="link">
                <img class="icon" src="/images/stat_icon.png">
                <a href="http://localhost:<%= port %>/<%= sport %>/<%= league %>/teams/<%= team %>/stats">
                    Team Stats
                </a>
            </div>
        </div>

        <h3 class="importantHeadline">
            <% if (game.status.state == "pre"){ %>
                Upcoming Game
            <% } else if (game.status.state == "in") { %>
                Current Game
            <% } else { %>
                Latest Game
            <% } %>
        </h3>
        <div class="gamesLayout">
            <div class="gameContainer">
                <div class="awayTeamDiv">
                    <img class="teamLogo" src="<%= game.awayTeam.logo %>">
                    <p><%= game.awayTeam.abbreviation %></p>
                </div>

                <div class="gameTimeDiv">
                    <p class="status"><%= game.status.shortDetail %></p>
                    <p class="mlbCount">
                        <% if (league == "MLB" && game.situation !== undefined){ %>
                            <%= game.situation.balls + "-" + game.situation.strikes
                                +  " " + game.situation.outs + " outs" %>
                        <% } %>
                    </p>

                    <img class="arrow_img" src="/images/left_arrow.png">
                    <p class="yardMarker">
                        <% if (league == "NFL" && game.situation !== undefined){ %>
                            <%= game.situation.downDistanceText %>
                        <% } %>
                    </p>
                    <p class="score">
                        <% if (game.status.state != "pre"){ %>
                            <%= game.awayTeam.score %> - <%= game.homeTeam.score %>
                        <% } %>
                    </p>
                    <p class="seriesRecord">
                        <% if (game.seasonType == 3){ %>
                            <%= game.seriesSummary %>
                        <% } %>
                    </p>
                    <a href="http://localhost:<%= port %>/<%= sport %>/<%= league %>/games/<%= game.id %>">
                        Game Stats
                    </a>
                </div>

                <div class="homeTeamDiv">
                    <img class="teamLogo" src="<%= game.homeTeam.logo %>">
                    <p><%= game.homeTeam.abbreviation %></p>
                </div>
            </div>
        </div>

        <h2 class="importantHeadline">Latest News</h2>
        <div id="newsSection">

            <h6>All Stories Written and Published by ESPN</h6>

            <% if (news.length == 0){ %>

                <h3>Nothing to Report. Check Back Later!</h3>

            <% } else {

                news.forEach(article => { %>

                    <div class="article">
                        <% if (article.imageUrl){ %>
                            <img class="newsImage" src="<%= article.imageUrl %>">
                        <% } %>
                        <h3><u><%= article.headline %></u></h3>
                        <p><%= article.description %></p>
                        <a href=" <%= article.articleUrl %>">Read More</a>
                    </div>
                <% })
            } %>
        </div>
    </body>

    <script>
        const parseGameOverviewResponse = <%- parseResponse.toString() %>;
        const team = "<%= team %>";
        const sport = "<%= sport %>";
        const league = "<%= league %>";
        const game = <%- JSON.stringify(game) %>;
        const gameID = game.id;
        const state = game.status.state;
        const status = document.querySelector('.status');
        const count = document.querySelector('.mlbCount');
        const score = document.querySelector('.score');
        const seriesRecord = document.querySelector('.seriesRecord');
        const yardMarker = document.querySelector('.yardMarker');
        const arrowImage = document.querySelector('.arrow_img');
        const endpoint = `https://site.api.espn.com/apis/site/v2/sports/${sport}/${league.toLowerCase()}/scoreboard/${gameID}`;

        async function updateEvent(){
            //send the request
            const response = await (await fetch(endpoint)).json();
            const updatedGameStats = parseGameOverviewResponse(response);
            console.log("Updating game data for " + gameID);

            //if we're not in pregame, we're updating the stuff inside here anyway like score and status
            if (updatedGameStats.status.state != "pre"){

                seriesRecord.style.display = "none";
                score.style.display = "flex";
                score.textContent = updatedGameStats.awayTeam.score + "-" + updatedGameStats.homeTeam.score;

                status.textContent = updatedGameStats.status.shortDetail;
            }

            //if done, clear in game stuff and stop sending requests
            if (updatedGameStats.status.state == "post"){
                seriesRecord.textContent = (updatedGameStats.seasonType == 3) ? updatedGameStats.seriesSummary : "";
                count.style.display = "none";
                yardMarker.style.display = "none";
                arrowImage.style.display = 'none';
                clearInterval(requests);

            } else if (updatedGameStats.situation !== undefined){
                //update baseball count
                count.style.display = "flex";
                count.textContent = (league == "MLB") ? updatedGameStats.situation.balls 
                    + "-" + updatedGameStats.situation.strikes +  " " + 
                        updatedGameStats.situation.outs + " outs" : "";
                //update football marker
                arrowImage.style.display = (league == "NFL") ? "flex" : "none";
                if (updatedGameStats.situation.possession == 
                    updatedGameStats.awayTeam.id){
                    arrowImage.src = "/images/left_arrow.png";
                } else {
                    arrowImage.src = "/images/right_arrow.png";
                }
                yardMarker.style.display = "flex";
                yardMarker.textContent = (league == "NFL") ? updatedGameStats.situation.downDistanceText : "";
            }
        }

        //set displays for elements on initial load
        count.style.display = (league == "MLB" && game.situation !== undefined) ? 'flex' : 'none';
        yardMarker.style.display = (league == "NFL" && game.situation !== undefined) ? 'flex' : 'none'; 
        score.style.display = (game.status.state != "pre") ? 'flex' : 'none';
        seriesRecord.style.display = (game.seasonType == 3 && game.status.state != "pre") ? 'flex' : 'none';
        //determine image src and display for football possession arrow
        arrowImage.style.display = (league == "NFL" && game.situation !== undefined) ? 'flex' : 'none';
        if (league == "NFL" && game.situation !== undefined){
            arrowImage.src = (game.situation.possession == 
                game.awayTeam.id) ? "/images/left_arrow.png" : "/images/right_arrow.png";
        }

        let requests = setInterval(updateEvent, 10000);
        if (state == "post"){
            clearInterval(requests);
        }

    </script>
</html>