<!DOCTYPE html>

<html>
    <head>
        <title><%= data.team.displayName %></title>
    </head>
    <body>

        <%- include ('menu_header') %>

        <div id="titleSection">
            <img id="teamLogo" src="<%= data.team.logos[0].href %>">
            <h1><%= data.team.displayName %></h1>
        </div>

        <div id="gameSection">
            <h2>Scheduled Games Today:</h2>
            <!--Have a conditional here that checks to see if there's anything scheduled-->
        </div>

        <div id="newsSection">

            <h2>Latest News</h2>

            <% const articles = news.articles.filter(article => article.type == "HeadlineNews");

            if (articles.length == 0){ %>

                <h3>Nothing to Report. Check Back Later!</h3>

            <% } else {

                articles.forEach(article => { %>

                    <div class="article">
                        <% if (article.images !== undefined){ %>
                            <img class="newsImage" src="<%= article.images[0].url %>">
                        <% } %>
                        <h3><%= article.headline %></h3>
                        <p><%= article.description %></p>
                        <a href=" <%= article.links.web.href %>">Read More</a>
                    </div>
                <% })
            } %>
        </div>

        <div id="linkSection">
            <a href="http://localhost:<%= port %>/<%= sport %>/<%= league %>/teams/<%= team %>/roster">
                <%= data.team.displayName %> Roster
            </a>
            <a href="http://localhost:<%= port %>/<%= sport %>/<%= league %>/teams/<%= team %>/schedule">
                <%= data.team.displayName %> Schedule
            </a>
            <a href="http://localhost:<%= port %>/<%= sport %>/<%= league %>/teams/<%= team %>/stats">
                <%= data.team.displayName %> Stats
            </a>
        </div>
    </body>
</html>