<!DOCTYPE html>

<html>

    <head>
        <title><%= data.team.displayName %></title>
        <link rel="stylesheet" href="/styles/team_page.css">
    </head>

    <body>

        <%- include ('menu_header') %>

        <div id="titleSection">
            <img id="teamLogo" src="<%= data.team.logos[0].href %>">
            <h1><%= data.team.displayName %></h1>
            <h4>Current Record: <%= data.team.record.items[0].summary %></h4>
        </div>

        <div id="linkSection">

            <div class="link">
                <img class="icon" src="/images/roster_icon.png">
                <a href="http://localhost:<%= port %>/<%= sport %>/<%= league %>/teams/<%= team %>/roster">
                    Team Roster
                </a>
            </div>
            <div class="link">
                <img class="icon" src="/images/schedule_icon.png">
                <a href="http://localhost:<%= port %>/<%= sport %>/<%= league %>/teams/<%= team %>/schedule">
                    Team Schedule
                </a>
            </div>
            <div class="link">
                <img class="icon" src="/images/stat_icon.png">
                <a href="http://localhost:<%= port %>/<%= sport %>/<%= league %>/teams/<%= team %>/stats">
                    Team Stats
                </a>
            </div>
        </div>

        <div id="newsSection">

            <h2>Latest News</h2>
            <h6>All Stories Written and Published by ESPN</h6>

            <% const articles = news.articles;

            if (articles.length == 0){ %>

                <h3>Nothing to Report. Check Back Later!</h3>

            <% } else {

                articles.forEach(article => { %>

                    <div class="article">
                        <% if (article.images !== undefined){ %>
                            <img class="newsImage" src="<%= article.images[0].url %>">
                        <% } %>
                        <h3><u><%= article.headline %></u></h3>
                        <h4><%= article.description %></h4>
                        <a href=" <%= article.links.web.href %>">Read More</a>
                    </div>
                <% })
            } %>
        </div>

        <%- include ('footer') %>
    </body>
</html>