<!DOCTYPE html>
<html>

    <head>
        <title><%= overview.name %></title>
        <link rel="stylesheet" href="/styles/selected_game.css">
    </head>

    <body>

        <%- include ('menu_header') %>

        <div id="overview">

            <div class="teamOverview">
                <img class="teamLogo" src="<%= overview.competitions[0].competitors[1].team.logo %>">
                <h3><%= overview.competitions[0].competitors[1].team.displayName %></h3>
                <% if (overview.status.type.state != "pre"){ %>
                    <h1><%= overview.competitions[0].competitors[1].score %></h1> <!--score-->
                <% } %>
            </div>

            <div id="gameInfoOverview"> <!--Put status of game here-->
                <% if (overview.status.type.state == "pre"){ %><!--Show scheduled time here-->

                    <h4><%= overview.competitions[0].status.type.shortDetail.substring(
                                    overview.competitions[0].status.type.shortDetail.indexOf("-") + 2); %>
                    </h4>

                <% } else if (overview.status.type.state == "in"){ %> <!--Show game time here-->

                    <% if (league.toUpperCase() == "MLB"){ %>

                        <h4><%= overview.status.type.shortDetail %></h4>
                        <h1>
                            <%= overview.competitions[0].situation.balls %> - 
                            <%= overview.competitions[0].situation.strikes %> 
                        </h1>
                        <h1><%= overview.competitions[0].situation.outs %> Outs</h1>
                    <% } else if (league.toUpperCase() == "NHL") { %>
                        <h1><%= overview.status.period %> Period</h1>
                        <h3><%= overview.status.displayClock %></h3>
                    <% } else { %>
                        <h1><%= overview.status.period %> Quarter</h1>
                        <h3><%= overview.status.displayClock %></h3>
                    <% }
                } else { %>
                    <h1 class="status">Final</h1>
                <% } %>
            </div>

            <div class="teamOverview">
                <img class="teamLogo" src="<%= overview.competitions[0].competitors[0].team.logo %>">
                <h3><%= overview.competitions[0].competitors[0].team.displayName %></h3>
                <% if (overview.status.type.state != "pre"){ %>
                    <h1><%= overview.competitions[0].competitors[0].score %></h1> <!--score-->
                <% } %>
            </div>
        </div>

        <% if (league.toUpperCase() == "NFL"){ %>

            <%- include('league_game_data/nfl_game') %>

        <% } else if (league.toUpperCase() == "MLB"){ %>

            <%- include('league_game_data/mlb_game') %>

        <% } else if (league.toUpperCase() == "NBA"){ %>

            <%- include('league_game_data/nba_game') %>

        <% } else { %>

            <%- include('league_game_data/nhl_game') %>

        <% } %>

        <%- include ('footer') %>

    </body>
</html>