<!DOCTYPE html>

<html>
    <head>
        <title><%= data.team.displayName %></title>
        <link rel="stylesheet" href="/styles/roster.css">
    </head>
    <body>

        <%- include ('menu_header') %>

        <div id = 'teamTitleDispayDiv'>

            <img id="teamLogo" src="<%= data.team.logo %>" alt="Logo of <%= data.team.displayName %>">

            <h3><%= data.team.displayName %></h3>
            <h4>Season: <%= data.team.seasonSummary %></h4>
            <h4>Record: <%= data.team.recordSummary %></h4>
            <h4>Head Coach: <%= data.coach[0].firstName + ' ' + data.coach[0].lastName %></h4>
        </div>

        <h2>Roster:</h2>

        <% if (league.toUpperCase() == "NHL"){ %>

            <%- include('team_roster_data/nhl_team_roster') %>

        <% } else if (league.toUpperCase() == "NBA"){ %>

            <%- include('team_roster_data/nba_team_roster') %>

        <% } else if (league.toUpperCase() == "NFL") { %>

            <%- include('team_roster_data/nfl_team_roster') %>

        <% } else { %>

            <%- include('team_roster_data/mlb_team_roster') %>

        <% } %>

        <%- include ('footer') %>
    </body>
</html>