<!DOCTYPE html>

<html>
    <head>
        <title>Team Selection</title>
        <link rel="stylesheet" href="/styles/team_display.css">
    </head>
    <body>

        <div id = "mainLogoContainer">
            <% if (league.toUpperCase() == "MLB"){ %>
                <img src = '/images/mlb_logo.png' id = 'mainLogo' alt = 'MLB Logo'>
            <% } else if (league.toUpperCase() == "NBA"){ %>
                <img src = '/images/nba_logo.png' id = 'mainLogo' alt = 'NBA Logo'>
            <% } else if (league.toUpperCase() == "NFL"){ %>
                <img src = '/images/nfl_logo.png' id = 'mainLogo' alt = 'NFL Logo'>
            <% } else { %>
                <img src = '/images/nhl_logo.png' id = 'mainLogo' alt = 'NHL Logo'>
            <% } %>

            <h1><%= league.toUpperCase() %> Teams</h1>
            <h3>Select a Team to Get Stats and Roster Info</h3>
        </div>

        <div id="teamsContainer">
            <% teams.forEach(team => { %>
                <div class = 'displayedTeam'>
                    <img src = '<%= team.team.logos[0].href %>' class="teamLogo">
                    <a href="http://localhost:<%= port %>/<%= sport %>/<%= league %>/teams/<%= team.team.abbreviation %>">
                        <%= team.team.displayName %>
                    </a>
                </div>
            <% }) %>
        </div>
    </body>
</html>