<!DOCTYPE html>

<html>
    <head>
        <title><%= data.team.displayName %> Schedule</title>
        <link rel="stylesheet" href="/styles/team_schedule.css">
    </head>

    <body>

        <%- include ('menu_header') %>

        <div id="headlineDiv">
            <img id="teamLogo" src="<%= data.team.logo %>">
            <h4><%= data.team.displayName %></h4>
            <h4>Team is currently in the <%= data.season.name %></h4>
        </div>

        <form id="scheduleSelection" method="GET">
            <label for="season">Select Season:</label>
             <select name="season">
                <% for (let i = new Date().getFullYear(); i >= 2000; i--){ %>
                    <option value="<%= i %>"><%= i %></option>
                <% } %>
             </select>
             <select name="seasonType">
                <option value="2">Regular Season</option>
                <option value="3">Post Season</option>
             </select>
             <button>Submit</button>
        </form>

        <% if (data.events.length == 0){ %>
            <h2>Season Schedule Not Available. Check Back Later!</h2>
        <% } else { %>
            <div id="dataSection">
                <% const team = (data.events[data.events.length - 1].competitions[0].competitors[0].team.abbreviation 
                    == data.team.abbreviation) ? 0 : 1 %>

                <h2>Schedule for <%= data.requestedSeason.displayName %> <%= data.requestedSeason.name %></h2>
                <%
                    const mostRecentGame = data.events.findLast(game => 
                        game.competitions[0].competitors[0].record !== undefined);
                    
                    if (mostRecentGame === undefined){ %>
                        <h3>Overall Record: 0-0</h3>
                    <% } else {

                        const record = (data.team.abbreviation == 
                            mostRecentGame.competitions[0].competitors[0].team.abbreviation) ? 0 : 1; %>
                        <h3>
                            Overall Record: <%= mostRecentGame.competitions[0].competitors[record].record.displayValue %>
                        </h3>
                    <% } %>
                <!--Idea: have the home and road games be different colors-->
                <table>
                    <tr>
                        <th>Date</th>
                        <th>vs. / @</th>
                        <th>Opponent</th>
                        <th>Status</th> <!--W/L, not played, in progress?-->
                    </tr>
                    <% 
                    let opp = -1;
                    data.events.forEach(game => { %>
                        <tr>
                            <td><%= game.date.substring(5, 10) %></td>
                            <td>
                                <% if (game.competitions[0].competitors[0].team.abbreviation == data.team.abbreviation){ 
                                    opp = 1; %>
                                    <strong>vs.</strong>
                                <% } else { 
                                    opp = 0; %>
                                    <strong>@</strong>
                                <% } %>
                            </td>
                            <td>
                                <div class="opponentDiv">
                                    <% if (game.competitions[0].competitors[opp].team.logos !== undefined){ %>
                                        <img class="opponentLogo" src="<%= game.competitions[0].competitors[opp].team.logos[0].href %>">
                                    <% } %>
                                    <h3><%= game.competitions[0].competitors[opp].team.abbreviation %></h3>
                                </div>
                            </td>
                            <td class="resultTD">
                                <% if (game.competitions[0].status.type.state == "post"){

                                    if (game.competitions[0].competitors[opp].winner){ %>
                                        <strong class="result">L</strong>
                                    <% } else { %>
                                        <strong class="result">W</strong>
                                    <% } %>

                                <% } else if (game.competitions[0].status.type.state == "pre"){ %>
                                    <strong>---</strong>
                                <% } else { %>
                                    <strong>In Progress</strong>
                                <% } %>
                            </td>
                            <td><a href="http://localhost:<%= port %>/<%= sport %>/<%= league %>/games/<%= game.id %>">Game Stats</a></td>
                        </tr>
                    <% }) %>
                </table>
            </div>
        <% } %>

        <script>
            const resultCells = document.querySelectorAll('.resultTD');
            resultCells.forEach(cell => {
                if (cell.textContent.includes("W")) { cell.style.backgroundColor = 'lightgreen'; }
                if (cell.textContent.includes("L")) { cell.style.backgroundColor = 'red'; }
                if (cell.textContent.includes("In Progress")) { cell.style.backgroundColor = 'lightyellow'; }
                if (cell.textContent.includes("---")) { cell.style.backgroundColor = 'lightgray'; }
            });
        </script>
    </body>
</html>