<!DOCTYPE html>

<html>
    <head>
        <title>Team Selection</title>
        <link rel="stylesheet" href="/styles/team_display.css">
    </head>
    <body>
        <%- include ('menu_header') %>
        <div id = "mainLogoContainer">
            <% if (league == "MLB"){ %>
                <img src = '/images/mlb_logo.png' id = 'mainLogo' alt = 'MLB Logo'>
            <% } else if (league == "NBA"){ %>
                <img src = '/images/nba_logo.png' id = 'mainLogo' alt = 'NBA Logo'>
            <% } else if (league == "NFL"){ %>
                <img src = '/images/nfl_logo.png' id = 'mainLogo' alt = 'NFL Logo'>
            <% } else { %>
                <img src = '/images/nhl_logo.png' id = 'mainLogo' alt = 'NHL Logo'>
            <% } %>

            <h1><%= league %> Teams</h1>
        </div>

        <h3 class="importantHeadline">Click on a Team to Visit their own Page</h3>

        <div id="teamsContainer">
            <% teams.forEach(team => { %>
                <div class = 'displayedTeam'>
                    <a class="teamLink" href="http://localhost:<%= port %>/<%= sport %>/<%= league.toLowerCase() %>/teams/<%= team.abbreviation %>">
                        <img src = '<%= team.logos[0].href %>' class="teamLogo">
                        <h4><%= team.displayName %></h4>
                    </a>
                </div>
            <% }) %>
        </div>
    </body>
</html>