<!DOCTYPE html>

<html>
    <head>
        <title><%= data.team.displayName %></title>
        <link rel="stylesheet" href="/styles/roster.css">
    </head>
    <body>

        <%- include ('menu_header') %>

        <div id = 'teamTitleDiv'> <!--Shows the general info of the team-->

            <img id="teamLogo" src="<%= data.team.logo %>" alt="Logo of <%= data.team.displayName %>">

            <h1><%= data.team.displayName %></h1>
            <p>Season: <%= data.team.seasonSummary %></p>
            <p>Head Coach:
                <% if (data.coach !== undefined){ %>
                    <%= data.coach[0].firstName + ' ' + data.coach[0].lastName %>
                <% } else { %>
                    Vacant
                <% } %> 
                </p>
        </div>

        <div id="rosterDiv">

            <% if (league.toUpperCase() == "NHL"){ %>

                <%- include('team_roster_data/nhl_team_roster') %>

            <% } else if (league.toUpperCase() == "NBA"){ %>

                <%- include('team_roster_data/nba_team_roster') %>

            <% } else if (league.toUpperCase() == "NFL") { %>

                <%- include('team_roster_data/nfl_team_roster') %>

            <% } else { %>

                <%- include('team_roster_data/mlb_team_roster') %>

            <% } %>
        </div>
    </body>
</html>