
<div id="awayTeamPlayerStats">

    <% summary.boxscore.players[0].statistics.forEach(cat => { %>
        <% const name = cat.type.split(/(?=[A-Z])/).map(word => word.toUpperCase()); %>
        <h2><%= name.join(" ") %></h2>
        <table>
            <tr>
                <th>Player</th>
                <% for (let i = 0; i < cat.labels.length; i++){ %>
                    <th>
                        <div class="tooltip">
                            <%= cat.labels[i] %>
                            <span class="tooltip-text">
                                <%= cat.descriptions[i] %>
                            </span>
                        </div>
                    </th>
                <% } %>
            </tr>
            <% cat.athletes.forEach(athlete => { %>
                <tr>
                    <% if (athlete.starter == true){ %> <!--Highlight those who were pinch hit/run-->
                        <th><%= athlete.athlete.shortName %></th>
                    <% } else { %>
                        <th class="nonstarter"><%= athlete.athlete.shortName %></th>
                    <% } %>
                    <% athlete.stats.forEach(stat => { %>
                        <td><%= stat %></td>
                    <% }) %>
                </tr>
            <% }) %>
        </table>
    <% }) %>
</div>

<div id="homeTeamPlayerStats">

    <% summary.boxscore.players[1].statistics.forEach(cat => { %>
        <% const name = cat.type.split(/(?=[A-Z])/).map(word => word.toUpperCase()); %>
        <h2><%= name.join(" ") %></h2>
        <table>
            <tr>
                <th>Player</th>
                <% for (let i = 0; i < cat.labels.length; i++){ %>
                    <th>
                        <div class="tooltip">
                            <%= cat.labels[i] %>
                            <span class="tooltip-text">
                                <%= cat.descriptions[i] %>
                            </span>
                        </div>
                    </th>
                <% } %>
            </tr>
            <% cat.athletes.forEach(athlete => { %>
                <tr>
                    <% if (athlete.starter == true){ %> <!--Highlight those who were pinch hit/run-->
                        <th><%= athlete.athlete.shortName %></th>
                    <% } else { %>
                        <th class="nonstarter"><%= athlete.athlete.shortName %></th>       
                    <% } %>
                    <% athlete.stats.forEach(stat => { %>
                        <td><%= stat %></td>
                    <% }) %>
                </tr>
            <% }) %>
        </table>
    <% }) %>
</div>
