
<div id="awayTeamPlayerStats">

    <% summary.boxscore.players[0].statistics.forEach(cat => { %>
        <% const name = cat.type.split(/(?=[A-Z])/).map(word => word.toUpperCase()); %>
        <h2><%= name.join(" ") %></h2>
        <table>
            <tr>
                <th>Player</th>
                <% for (let i = 0; i < cat.labels.length; i++){ %>
                    <th>
                        <div class="tooltip">
                            <%= cat.labels[i] %>
                            <span class="tooltip-text">
                                <%= cat.descriptions[i] %>
                            </span>
                        </div>
                    </th>
                <% } %>
            </tr>
            <% cat.athletes.forEach(athlete => { %>
                <tr id="<%= athlete.athlete.id %>">
                    <% if (athlete.starter == true){ %> <!--Highlight those who were pinch hit/run-->
                        <th class="name"><%= athlete.athlete.shortName %></th>
                    <% } else { %>
                        <th class="nonstarter"><%= athlete.athlete.shortName %></th>
                    <% } %>
                    <% athlete.stats.forEach(stat => { %>
                        <td><%= stat %></td>
                    <% }) %>
                </tr>
            <% }) %>
        </table>
    <% }) %>
</div>

<div id="homeTeamPlayerStats">

    <% summary.boxscore.players[1].statistics.forEach(cat => { %>
        <% const name = cat.type.split(/(?=[A-Z])/).map(word => word.toUpperCase()); %>
        <h2><%= name.join(" ") %></h2>
        <table>
            <tr>
                <th>Player</th>
                <% for (let i = 0; i < cat.labels.length; i++){ %>
                    <th>
                        <div class="tooltip">
                            <%= cat.labels[i] %>
                            <span class="tooltip-text">
                                <%= cat.descriptions[i] %>
                            </span>
                        </div>
                    </th>
                <% } %>
            </tr>
            <% cat.athletes.forEach(athlete => { %>
                <tr id="<%= athlete.athlete.id %>">
                    <% if (athlete.starter == true){ %> <!--Highlight those who were pinch hit/run-->
                        <th class="name"><%= athlete.athlete.shortName %></th>
                    <% } else { %>
                        <th class="nonstarter"><%= athlete.athlete.shortName %></th>       
                    <% } %>
                    <% athlete.stats.forEach(stat => { %>
                        <td><%= stat %></td>
                    <% }) %>
                </tr>
            <% }) %>
        </table>
    <% }) %>
</div>

<script>

    const summaryEndpoint = <%- JSON.stringify() %>;

    async function updateGameStats(){
        //get updated data
        const update = await (await fetch(summaryEndpoint)).json();
        update.boxscore.players.forEach(team => { //for every team
            team.statistics.forEach(cat => { // for each category
                cat.athletes.forEach(athlete => { //for every athlete in category
                    //get athlete row
                    const playerStatCells = document.getElementById(athlete.athlete.id).querySelectorAll('td');
                    for (let i = 0; i < athlete.stats.length; i++){ //change stat cells in the row
                        playerStatCells[i].textContent = athlete.stats[i];
                    }
                });
            });
        });

        if (update.meta.gameState == "post"){
            clearInterval(request);
        }
    }

    let request = setInterval(updateGameStats, 10000); //set the interval to send requests
    if (summary.meta.gameState == "post"){
        clearInterval(request);
    }


</script>