

<div id="awayTeamPlayerStats">
    <table>
        <tr>
            <th class="nameCol">Player</th>
            <% for (let i = 0; i < summary.boxscore.players[0].statistics[0].names.length; i++){ %>
                <th>
                    <div class="tooltip">
                        <%= summary.boxscore.players[0].statistics[0].names[i] %>
                        <span class="tooltip-text">
                            <%= summary.boxscore.players[0].statistics[0].descriptions[i] %>
                        </span>
                    </div>
                </th>
            <% } %>
        </tr>
        <% summary.boxscore.players[0].statistics[0].athletes.forEach(athlete => { %>
            <tr id="<%= athlete.athlete.id %>">
                <th class="name"><%= athlete.athlete.shortName %></th>
                <% athlete.stats.forEach(stat => { %>
                    <td><%= stat %></td>
                <% }) %>
            </tr>
        <% }) %>
    </table>
</div>

<div id="homeTeamPlayerStats">
    <table>
        <tr>
            <th class="nameCol">Player</th>
            <% for (let i = 0; i < summary.boxscore.players[1].statistics[0].names.length; i++){ %>
                <th>
                    <div class="tooltip">
                        <%= summary.boxscore.players[1].statistics[0].names[i] %>
                        <span class="tooltip-text">
                            <%= summary.boxscore.players[1].statistics[0].descriptions[i] %>
                        </span>
                    </div>
                </th>
            <% } %>
        </tr>
        <% summary.boxscore.players[1].statistics[0].athletes.forEach(athlete => { %>
            <tr id="<%= athlete.athlete.id %>">
                <th class="name"><%= athlete.athlete.shortName %></th>
                <% athlete.stats.forEach(stat => { %>
                    <td><%= stat %></td>
                <% }) %>
            </tr>
        <% }) %>
    </table>
</div>

<script>
    const summaryEndpoint = <%- JSON.stringify() %>;

    async function updateGameStats(){
        //get updated data
        const update = await (await fetch(summaryEndpoint)).json();
        update.boxscore.players.forEach(team => { //for every team
            team.statistics[0].athletes.forEach(athlete => { // for each player
                //get athlete row
                const playerStatCells = document.getElementById(athlete.athlete.id).querySelectorAll('td');
                for (let i = 0; i < athlete.stats.length; i++){ //change stat cells in the row
                    playerStatCells[i].textContent = athlete.stats[i];
                }
            });
        });

        if (update.meta.gameState == "post"){
            clearInterval(request);
        }
    }

    let request = setInterval(updateGameStats, 10000); //set the interval to send requests
    if (summary.meta.gameState == "post"){
        clearInterval(request);
    }


</script>