

<div id="awayTeamPlayerStats">
    <table>
        <tr>
            <th class="nameCol">Player</th>
            <% for (let i = 0; i < summary.boxscore.players[0].statistics[0].names.length; i++){ %>
                <th>
                    <div class="tooltip">
                        <%= summary.boxscore.players[0].statistics[0].names[i] %>
                        <span class="tooltip-text">
                            <%= summary.boxscore.players[0].statistics[0].descriptions[i] %>
                        </span>
                    </div>
                </th>
            <% } %>
        </tr>
        <% summary.boxscore.players[0].statistics[0].athletes.forEach(athlete => { %>
            <tr>
                <th class="nameCol"><%= athlete.athlete.shortName %></th>
                <% athlete.stats.forEach(stat => { %>
                    <td><%= stat %></td>
                <% }) %>
            </tr>
        <% }) %>
    </table>
</div>

<div id="homeTeamPlayerStats">
    <table>
        <tr>
            <th class="nameCol">Player</th>
            <% for (let i = 0; i < summary.boxscore.players[1].statistics[0].names.length; i++){ %>
                <th>
                    <div class="tooltip">
                        <%= summary.boxscore.players[1].statistics[0].names[i] %>
                        <span class="tooltip-text">
                            <%= summary.boxscore.players[1].statistics[0].descriptions[i] %>
                        </span>
                    </div>
                </th>
            <% } %>
        </tr>
        <% summary.boxscore.players[1].statistics[0].athletes.forEach(athlete => { %>
            <tr>
                <th class="nameCol"><%= athlete.athlete.shortName %></th>
                <% athlete.stats.forEach(stat => { %>
                    <td><%= stat %></td>
                <% }) %>
            </tr>
        <% }) %>
    </table>
</div>