
<% if (overview.status.type.state == "pre") { %> <!--Overall team stats go here if game is scheduled-->

    <div id="pregameTeamStats">

        <table>
            <tr>
                <th>Teams</th>
                <td><%= summary.boxscore.teams[0].team.abbreviation %></td>
                <td><%= summary.boxscore.teams[1].team.abbreviation %></td>
            </tr>
            <tr>
                <th>Avg PTs</th>
                <td><%= summary.boxscore.teams[0].statistics[2].displayValue %></td>
                <td><%= boxscore.teams[1].statistics[2].displayValue %></td>
            </tr>
            <tr>
                <th>FG%</th>
                <td><%= boxscore.teams[0].statistics[3].displayValue %></td>
                <td><%= boxscore.teams[1].statistics[3].displayValue %></td>
            </tr>
            <tr>
                <th>3PT%</th>
                <td><%= boxscore.teams[0].statistics[4].displayValue %></td>
                <td><%= boxscore.teams[1].statistics[4].displayValue %></td>
            </tr>
            <tr>
                <th>Avg REB</th>
                <td><%= boxscore.teams[0].statistics[5].displayValue %></td>
                <td><%= boxscore.teams[1].statistics[5].displayValue %></td>
            </tr>
            <tr>
                <th>Avg AST</th>
                <td><%= boxscore.teams[0].statistics[6].displayValue %></td>
                <td><%= boxscore.teams[1].statistics[6].displayValue %></td>
            </tr>
            <tr>
                <th>Avg BLKs</th>
                <td><%= boxscore.teams[0].statistics[7].displayValue %></td>
                <td><%= boxscore.teams[1].statistics[7].displayValue %></td>
            </tr>
            <tr>
                <th>Avg STLs</th>
                <td><%= boxscore.teams[0].statistics[8].displayValue %></td>
                <td><%= boxscore.teams[1].statistics[8].displayValue %></td>
            </tr>
            <tr>
                <th>Avg TOs</th>
                <td><%= boxscore.teams[0].statistics[10].displayValue %></td>
                <td><%= boxscore.teams[1].statistics[10].displayValue %></td>
            </tr>
        </table>
    </div>

<% } else { <!--Games in progress and completed show the ongoing/final stats here-->
    summary.boxscore.teams[0].statistics[18].abbreviation = "PCOT";
    summary.boxscore.teams[1].statistics[18].abbreviation = "PCOT";
%>

    <div class="boxscoreDiv">

        <h3>Box Score</h3>
        <table>
            <tr>
                <th>Team</th>
                <% summary.boxscore.teams[0].statistics.forEach(stat => {
                    if (stat.abbreviation !== undefined){ %>
                        <th><%= stat.abbreviation %></th>
                    <% } else { %>
                        <th><%= stat.label %></th>
                    <% }
                }) %>
            </tr>
            <tr>
                <th><%= summary.boxscore.teams[0].team.abbreviation %></th>
                <% summary.boxscore.teams[0].statistics.forEach(stat => { %>
                    <td><%= stat.displayValue %></td>
                <% }) %>
            </tr>
            <tr>
                <th><%= summary.boxscore.teams[1].team.abbreviation %></th>
                <% summary.boxscore.teams[1].statistics.forEach(stat => { %>
                    <td><%= stat.displayValue %></td>
                <% }) %>
            </tr>
        </table>
    </div>

    <div class="leaderSection">
        
        <h2><%= summary.leaders[0].team.abbreviation %> Leaders</h2>
        <div class="awayTeamLeaders">
            <% summary.leaders[0].leaders.forEach(leader => { %>
                <div class="leaderDiv">
                    <div class="leaderTitleDiv">
                        <img class="headshot" src="<%= leader.leaders[0].athlete.headshot.href %>">
                        <h5 class="leaderName"><%= leader.leaders[0].athlete.displayName %></h5>
                    </div>
                    <p class="leaderDesc"><%= leader.displayName %>: <%= leader.leaders[0].displayValue %></p>
                </div>
            <% }) %>
        </div>

        <h2><%= summary.leaders[1].team.abbreviation %> Leaders</h2>
        <div class="homeTeamLeaders">
            <% summary.leaders[1].leaders.forEach(leader => { %>
                <div class="leaderDiv">
                    <div class="leaderTitleDiv">
                        <img class="headshot" src="<%= leader.leaders[0].athlete.headshot.href %>">
                        <h5 class="leaderName"><%= leader.leaders[0].athlete.displayName %></h5>
                    </div>
                    <p class="leaderDesc"><%= leader.displayName %>: <%= leader.leaders[0].displayValue %></p>
                </div>
            <% }) %>
        </div>
    </div>

    <div class="playerStats"> <!--We'll put the player stats here-->

        <div class="awayTeamPlayerStats">
            <h2><%= summary.boxscore.players[0].team.name %> Player Stats</h2>
            <table>
                <tr>
                    <th class="nameCol">Player</th>
                    <% summary.boxscore.players[0].statistics[0].names.forEach(label => { %>
                        <th><%= label %></th>
                    <% }) %>
                </tr>
                <% summary.boxscore.players[0].statistics[0].athletes.forEach(athlete => { %>
                    <tr>
                        <th class="nameCol"><%= athlete.athlete.shortName %></th>
                        <% athlete.stats.forEach(stat => { %>
                            <td><%= stat %></td>
                        <% }) %>
                    </tr>
                <% }) %>
            </table>
        </div>
        
        <div class="homeTeamPlayerStats">
            <h2><%= summary.boxscore.players[1].team.name %> Player Stats</h2>
            <table>
                <tr>
                    <th class="nameCol">Player</th>
                    <% summary.boxscore.players[1].statistics[0].names.forEach(label => { %>
                        <th><%= label %></th>
                    <% }) %>
                </tr>
                <% summary.boxscore.players[1].statistics[0].athletes.forEach(athlete => { %>
                    <tr>
                        <th class="nameCol"><%= athlete.athlete.shortName %></th>
                        <% athlete.stats.forEach(stat => { %>
                            <td><%= stat %></td>
                        <% }) %>
                    </tr>
                <% }) %>
            </table>
        </div>
    </div>
<% } %>