
<% if (overview.status.type.state == "pre"){ %>


    <div id="pregameStats">

        <table>
            <tr>
                <th>Team</th>
                <td><%= boxscore.teams[0].team.shortDisplayName %></td>
                <td><%= boxscore.teams[1].team.shortDisplayName %></td>
            </tr>
            <tr>
                <th>Avg Goals</th>
                <td><%= bosxcore.teams[0].statistics[5].displayValue %></td>
                <td><%= bosxcore.teams[1].statistics[5].displayValue %></td>
            </tr>
            <tr>
                <th>Avg Goals Against</th>
                <td><%= bosxcore.teams[0].statistics[0].displayValue %></td>
                <td><%= bosxcore.teams[1].statistics[0].displayValue %></td>
            </tr>
            <tr>
                <th>Avg Shots</th>
                <td><%= bosxcore.teams[0].statistics[6].displayValue %></td>
                <td><%= bosxcore.teams[1].statistics[6].displayValue %></td>
            </tr>
            <tr>
                <th>Avg Shots Against</th>
                <td><%= bosxcore.teams[0].statistics[1].displayValue %></td>
                <td><%= bosxcore.teams[1].statistics[1].displayValue %></td>
            </tr>
            <tr>
                <th>Power Play %</th>
                <td><%= bosxcore.teams[0].statistics[2].displayValue %></td>
                <td><%= bosxcore.teams[1].statistics[2].displayValue %></td>
            </tr>
            <tr>
                <th>Penalty Kill %</th>
                <td><%= bosxcore.teams[0].statistics[8].displayValue %></td>
                <td><%= bosxcore.teams[1].statistics[8].displayValue %></td>
            </tr>
        </table>
    </div>

<% } else {

    const awayActiveForwards = boxscore.players[0].statistics[0].athletes.filter(athlete => athlete.athlete.scratched == false);
    const awayActiveDmen = boxscore.players[0].statistics[1].athletes.filter(athlete => athlete.athlete.scratched == false);
    const awayGoalies = boxscore.players[0].statistics[2].athletes;

    const homeActiveForwards = boxscore.players[1].statistics[0].athletes.filter(athlete => athlete.athlete.scratched == false);
    const homeActiveDmen = boxscore.players[1].statistics[1].athletes.filter(athlete => athlete.athlete.scratched == false);
    const homeGoalies = boxscore.players[1].statistics[2].athletes;

%>

    <div id="boxScore">

        <div id="teamStats">
            <table>
                <tr>
                    <th>Teams</th>
                    <td><%= boxscore.teams[0].team.abbreviation %></td>
                    <td><%= boxscore.teams[1].team.abbreviation %></td>
                </tr>
                <tr>
                    <th>Shots</th>
                    <td><%= boxscore.teams[0].statistics[3].displayValue %></td>
                    <td><%= boxscore.teams[1].statistics[3].displayValue %></td>
                </tr>
                <tr>
                    <th>Blocked Shots</th>
                    <td><%= boxscore.teams[0].statistics[0].displayValue %></td>
                    <td><%= boxscore.teams[1].statistics[0].displayValue %></td>
                </tr>
                <tr>
                    <th>Faceoff %</th>
                    <td><%= boxscore.teams[0].statistics[10].displayValue %></td>
                    <td><%= boxscore.teams[1].statistics[10].displayValue %></td>
                </tr>
                <tr>
                    <th>Hits</th>
                    <td><%= boxscore.teams[0].statistics[1].displayValue %></td>
                    <td><%= boxscore.teams[1].statistics[1].displayValue %></td>
                </tr>
                <tr>
                    <th>Takeaways</th>
                    <td><%= boxscore.teams[0].statistics[2].displayValue %></td>
                    <td><%= boxscore.teams[1].statistics[2].displayValue %></td>
                </tr>
                <tr>
                    <th>Giveaways</th>
                    <td><%= boxscore.teams[0].statistics[11].displayValue %></td>
                    <td><%= boxscore.teams[1].statistics[11].displayValue %></td>
                </tr>
                <tr>
                    <th>Power Play %</th>
                    <td><%= boxscore.teams[0].statistics[6].displayValue %></td>
                    <td><%= boxscore.teams[1].statistics[6].displayValue %></td>
                </tr>
                <tr>
                    <th>Short Handed Goals</th>
                    <td><%= boxscore.teams[0].statistics[7].displayValue %></td>
                    <td><%= boxscore.teams[1].statistics[7].displayValue %></td>
                </tr>
                <tr>
                    <th>Penalties</th>
                    <td><%= boxscore.teams[0].statistics[12].displayValue %></td>
                    <td><%= boxscore.teams[1].statistics[12].displayValue %></td>
                </tr>
                <tr>
                    <th>Penalty Minutes</th>
                    <td><%= boxscore.teams[0].statistics[13].displayValue %></td>
                    <td><%= boxscore.teams[1].statistics[13].displayValue %></td>
                </tr>
            </table>
        </div>

        <div id="playerStats">

            <div id="awayPlayerStats">

                <table class="forwardTable">

                    <tr>
                        <th>Player</th>
                        <th>TOI</th>
                        <th>G</th>
                        <th>A</th>
                        <th>P</th>
                        <th>+/-</th>
                        <th>SOG</th>
                        <th>BS</th>
                        <th>FO%</th>
                        <th>PIM</th>
                        <th>H</th>
                        <th>TK</th>
                        <th>GV</th>
                    </tr>

                    <% awayActiveForwards.forEach(forward => { %>

                        <tr>
                            <td>
                                <div>
                                    <% if (forward.athlete.headshot !== undefined){ %>
                                        <img src="<%= forward.athlete.headshot.href %>">
                                    <% } else { %>
                                        <img src="/images/default_headshot.png">
                                    <% } %>
                                    <p><%= forward.athlete.shortName %></p>
                                </div>
                            </td>
                            <td><%= forward.stats[4] %></td>
                            <td><%= forward.stats[9] %></td>
                            <td><%= forward.stats[11] %></td>
                            <td><%= forward.stats[9] + forward.stats[11] %></td>
                            <td><%= forward.stats[3] %></td>
                            <td><%= forward.stats[14] %></td>
                            <td><%= forward.stats[0] %></td>
                            <td><%= forward.stats[17] %></td>
                            <td><%= forward.stats[20] %></td>
                            <td><%= forward.stats[1] %></td>
                            <td><%= forward.stats[2] %></td>
                            <td><%= forward.stats[18] %></td>
                        </tr>
                    <% }) %>

                </table>

                <table clss="dmanTable">

                    <tr>
                        <th>Player</th>
                        <th>TOI</th>
                        <th>G</th>
                        <th>A</th>
                        <th>P</th>
                        <th>+/-</th>
                        <th>SOG</th>
                        <th>BS</th>
                        <th>FO%</th>
                        <th>PIM</th>
                        <th>H</th>
                        <th>TK</th>
                        <th>GV</th>
                    </tr>

                    <% awayActiveDmen.forEach(dman => { %>

                        <tr>
                            <td>
                                <div>
                                    <% if (dman.athlete.headshot !== undefined){ %>
                                        <img src="<%= dman.athlete.headshot.href %>">
                                    <% } else { %>
                                        <img src="/images/default_headshot.png">
                                    <% } %>
                                    <p><%= dman.athlete.shortName %></p>
                                </div>
                            </td>
                            <td><%= dman.stats[4] %></td>
                            <td><%= dman.stats[9] %></td>
                            <td><%= dman.stats[11] %></td>
                            <td><%= parseInt(dman.stats[9]) + parseInt(dman.stats[11]) %></td>
                            <td><%= dman.stats[3] %></td>
                            <td><%= dman.stats[14] %></td>
                            <td><%= dman.stats[0] %></td>
                            <td><%= dman.stats[17] %></td>
                            <td><%= dman.stats[20] %></td>
                            <td><%= dman.stats[1] %></td>
                            <td><%= dman.stats[2] %></td>
                            <td><%= dman.stats[18] %></td>
                        </tr>
                    <% }) %>
                </table>

                <table class="goalieTable">

                    <tr>
                        <th>Player</th>
                        <th>TOI</th>
                        <th>GA</th>
                        <th>SA</th>
                        <th>SV</th>
                        <th>SV%</th>
                    </tr>

                    <% awayGoalies.forEach(goalie => { %>

                        <tr>
                            <td>
                                <div>
                                    <% if (goalie.athlete.headshot !== undefined){ %>
                                        <img src="<%= goalie.athlete.headshot.href %>">
                                    <% } else { %>
                                        <img src="/images/default_headshot.png">
                                    <% } %>
                                    <p><%= goalie.athlete.shortName %></p>
                                </div>
                            </td>
                            <td><%= goalie.stats[9] %></td>
                            <td><%= goalie.stats[0] %></td>
                            <td><%= goalie.stats[1] %></td>
                            <td><%= goalie.stats[4] %></td>
                            <td><%= goalie.stats[5] %></td>
                        </tr>
                    <% }) %>
                </table>
            </div>


            <div id="homePlayerStats">

                <table class="forwardTable">

                    <tr>
                        <th>Player</th>
                        <th>TOI</th>
                        <th>G</th>
                        <th>A</th>
                        <th>P</th>
                        <th>+/-</th>
                        <th>SOG</th>
                        <th>BS</th>
                        <th>FO%</th>
                        <th>PIM</th>
                        <th>H</th>
                        <th>TK</th>
                        <th>GV</th>
                    </tr>

                    <% homeActiveForwards.forEach(forward => { %>

                        <tr>
                            <td>
                                <div>
                                    <% if (forward.athlete.headshot !== undefined){ %>
                                        <img src="<%= forward.athlete.headshot.href %>">
                                    <% } else { %>
                                        <img src="/images/default_headshot.png">
                                    <% } %>
                                    <p><%= forward.athlete.shortName %></p>
                                </div>
                            </td>
                            <td><%= forward.stats[4] %></td>
                            <td><%= forward.stats[9] %></td>
                            <td><%= forward.stats[11] %></td>
                            <td><%= forward.stats[9] + forward.stats[11] %></td>
                            <td><%= forward.stats[3] %></td>
                            <td><%= forward.stats[14] %></td>
                            <td><%= forward.stats[0] %></td>
                            <td><%= forward.stats[17] %></td>
                            <td><%= forward.stats[20] %></td>
                            <td><%= forward.stats[1] %></td>
                            <td><%= forward.stats[2] %></td>
                            <td><%= forward.stats[18] %></td>
                        </tr>
                    <% }) %>

                </table>

                <table clss="dmanTable">

                    <tr>
                        <th>Player</th>
                        <th>TOI</th>
                        <th>G</th>
                        <th>A</th>
                        <th>P</th>
                        <th>+/-</th>
                        <th>SOG</th>
                        <th>BS</th>
                        <th>FO%</th>
                        <th>PIM</th>
                        <th>H</th>
                        <th>TK</th>
                        <th>GV</th>
                    </tr>

                    <% homeActiveDmen.forEach(dman => { %>

                        <tr>
                            <td>
                                <div>
                                    <% if (dman.athlete.headshot !== undefined){ %>
                                        <img src="<%= dman.athlete.headshot.href %>">
                                    <% } else { %>
                                        <img src="/images/default_headshot.png">
                                    <% } %>
                                    <p><%= dman.athlete.shortName %></p>
                                </div>
                            </td>
                            <td><%= dman.stats[4] %></td>
                            <td><%= dman.stats[9] %></td>
                            <td><%= dman.stats[11] %></td>
                            <td><%= parseInt(dman.stats[9]) + parseInt(dman.stats[11]) %></td>
                            <td><%= dman.stats[3] %></td>
                            <td><%= dman.stats[14] %></td>
                            <td><%= dman.stats[0] %></td>
                            <td><%= dman.stats[17] %></td>
                            <td><%= dman.stats[20] %></td>
                            <td><%= dman.stats[1] %></td>
                            <td><%= dman.stats[2] %></td>
                            <td><%= dman.stats[18] %></td>
                        </tr>
                    <% }) %>
                </table>

                <table class="goalieTable">

                    <tr>
                        <th>Player</th>
                        <th>TOI</th>
                        <th>GA</th>
                        <th>SA</th>
                        <th>SV</th>
                        <th>SV%</th>
                    </tr>

                    <% homeGoalies.forEach(goalie => { %>

                        <tr>
                            <td>
                                <div>
                                    <% if (goalie.athlete.headshot !== undefined){ %>
                                        <img src="<%= goalie.athlete.headshot.href %>">
                                    <% } else { %>
                                        <img src="/images/default_headshot.png">
                                    <% } %>
                                    <p><%= goalie.athlete.shortName %></p>
                                </div>
                            </td>
                            <td><%= goalie.stats[9] %></td>
                            <td><%= goalie.stats[0] %></td>
                            <td><%= goalie.stats[1] %></td>
                            <td><%= goalie.stats[4] %></td>
                            <td><%= goalie.stats[5] %></td>
                        </tr>
                    <% }) %>
                </table>
            </div>

        </div>
    </div>

<% } %>