<% data.results.stats.categories.forEach(category => { %>

    <div class="tableDivide">
        <h4><%= category.displayName %></h4>
        <table>
            <tr>
                <% category.stats.forEach(stat => {

                    if (stat.name.substring(0, 3) == "avg"){ %>
                        <th>
                            <div class="tooltip"><%= stat.shortDisplayName %>
                                <span class="tooltip-text">
                                    <u><%= stat.displayName %></u>
                                    <br>
                                    <%= stat.description %>
                                </span>
                            </div>
                        </th>
                    <% } else { %>
                        <th>
                            <div class="tooltip"><%= stat.abbreviation %>
                                <span class="tooltip-text">
                                    <u><%= stat.displayName %></u>
                                    <br>
                                    <%= stat.description %>
                                </span>
                            </div>
                        </th>
                    <% }
                }) %>
            </tr>
            <tr>
                <% category.stats.forEach(stat => { %>
                    <td><%= stat.displayValue %></td>
                <% }) %>
            </tr>
        </table>
    </div>
<% }) %>