
<% data.results.stats.categories.forEach(category => { %>

    <div class="tableDivide">
        <h4><%= category.displayName %></h4>
        <table>
            <tr>
                <% category.stats.forEach(stat => { %>
                    <th>
                        <div class="tooltip"><%= stat.abbreviation %>
                            <span class="tooltip-text">
                                <u><%= stat.displayName %></u>
                                <br>
                                <%= stat.description %>
                            </span>
                        </div>
                    </th>
                <% }) %>
            </tr>
            <tr>
                <% category.stats.forEach(stat => { %>
                    <td><%= stat.displayValue %></td>
                <% }) %>
            </tr>
        </table>
    </div>
<% }) %>
