
<% data.results.stats.categories.forEach(category => { %>

    <h2><%= category.displayName %></h2>
    <div class="tableDivide">
        <table>
            <tr>
                <th>Type</th>
                <% category.stats.forEach(stat => { %>
                    <th>
                        <div class="tooltip"><%= stat.abbreviation %>
                            <span class="tooltip-text">
                                <u><%= stat.displayName %></u>
                                <br>
                                <%= stat.description %>
                            </span>
                        </div>
                    </th>
                <% }) %>
            </tr>
            <tr>
                <th>Total</th>
                <% category.stats.forEach(stat => { %>
                    <td><%= stat.displayValue %></td>
                <% }) %>
            </tr>
            <tr>
                <th>Per Game</th>
                <% category.stats.forEach(stat => {
                    if (stat.perGameValue !== undefined){ %>
                        <td><%= stat.perGameDisplayValue %></td>
                    <% } else { %>
                        <td>N/A</td>
                    <% }
                }) %>
            </tr>
        </table>
    </div>
<% }) %>