<!DOCTYPE html>

<html>
    <head>
        <title><%= teamName %> Stats</title>
        <link rel="stylesheet" href="/styles/team_stats.css">
    </head>

    <body>

        <%- include ('../menu_header') %>

        <div id="teamTitleSection">
            <img src="<%= logo %>">
            <h1><%= teamName %></h1>
            <p>Showing Stats for the <%= data.requestedSeason.year %> <%= data.requestedSeason.name %></p>
            <p>Season Record: <%= data.team.recordSummary %></p>
            <p>Standings: <%= data.team.standingSummary %></p>
        </div>

        <form method="GET">

            <label for="season">Select a Season:</label>
            <select name="season">
                <% for (let i = year; i >= 2000; i--){ %>
                    <option value="<%= i %>"><%= i %></option>
                <% } %>
            </select>

            <label for="seasonType">Select Season Type:</label>
            <select name="seasonType">
                <option value="2">Regular Season</option>
                <option value="3">Postseason</option>
            </select>
            <button>Submit</button>
        </form>

        <% if (data.code !== undefined){ %>

            <h1>This Data is Not Available Yet.</h1>
        
        <% } else if (data.requestedSeason.qualifiedPostSeason == false && requestedType == 3) { %>

            <h1>Team Did Not Make the Postseason for the Requested Season.</h1>

        <% } else { %>

            <div id="statsSection">

                <!--This will be used to get the right page-->
                <% if (league.toUpperCase() == "NFL"){ %>

                    <%- include ('nfl_team_stats') %>

                <% } else if (league.toUpperCase() == "MLB"){ %>

                    <%- include ('mlb_team_stats') %>

                <% } else if (league.toUpperCase() == "NBA"){ %>

                    <%- include ('nba_team_stats') %>

                <% } else { %>

                    <%- include ('nhl_team_stats') %>

                <% } %>
            </div>
        <% } %>

        <%- include ('../footer') %>
    </body>
</html>