<!DOCTYPE html>

<htm>
    <head>
        <title><%= data.team.displayName %> Stats</title>
    </head>

    <body>

        <div id="teamTitleSection">
            <img src="<%= data.team.logo %>">
            <h1><%= data.team.displayName %></h1>
        </div>

        <form method="GET">
            <label for="season">Select a Season:</label>
            <select name="season">
                <% for (let i = data.season.year; i >= 2000; i--){ %>
                    <option value="<%= i %>"><%= i %></option>
                <% } %>
            </select>
            <button>Submit</button>
        </form>

        <div id="statsSection">

            <h3>Showing Stats for the <%= data.team.seasonSummary %> Season</h3>

            <h4>Season Record: <%= data.team.recordSummary %></h4>
            <h4>Standings: <%= data.team.standingSummary %></h4>

            <!--This will be used to get the right page-->
            <% if (league.toUpperCase() == "NFL"){ %>

                <%- include ('nfl_team_stats') %>

            <% } else if (league.toUpperCase() == "MLB"){ %>

                <%- include ('mlb_team_stats') %>

            <% } else if (league.toUpperCase() == "NBA"){ %>

                <%- include ('nba_team_stats') %>

            <% } else { %>

                <%- include ('nhl_team_stats') %>

            <% } %>
        </div>

    </body>
</htm>