<!DOCTYPE html>

<html>
    <head>
        <title><%= teamName %> Stats</title>
        <link rel="stylesheet" href="/styles/team_stats.css">
    </head>

    <body>

        <%- include ('../menu_header') %>

        <div class="topSection">
            <div class="titleSection">
                <img class="mainLogo" src="<%= logo %>">
                <h1><%= teamName %> Team Stats</h1>
            </div>

            <div class="form-container">
                <form method="GET">

                    <div class="form-group">
                        <label for="season">Select a Season:</label>
                        <select name="season">
                            <% for (let i = year; i >= 2000; i--){ %>
                                <option value="<%= i %>"><%= i %></option>
                            <% } %>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="seasonType">Select Season Type:</label>
                        <select name="seasonType">
                            <option value="2">Regular Season</option>
                            <option value="3">Postseason</option>
                        </select>
                    </div>
                    <button>Submit</button>
                </form>
            </div>
        </div>

        <% if (data.code !== undefined){ %>

            <h1>This Data is Not Available Yet.</h1>
        
        <% } else if (data.requestedSeason.qualifiedPostSeason == false && requestedType == 3) { %>

            <h1>Team Did Not Make the Postseason for the Requested Season.</h1>

        <% } else { %>

            <p>Showing Stats for the <%= data.requestedSeason.year %> <%= data.requestedSeason.name %></p>
            <p>Season Record: <%= data.team.recordSummary %></p>
            <p>Standings: <%= data.team.standingSummary %></p>

            <div id="statsSection">

                <!--This will be used to get the right page-->
                <% if (league.toUpperCase() == "NFL"){ %>

                    <%- include ('nfl_team_stats') %>

                <% } else if (league.toUpperCase() == "MLB"){ %>

                    <%- include ('mlb_team_stats') %>

                <% } else if (league.toUpperCase() == "NBA"){ %>

                    <%- include ('nba_team_stats') %>

                <% } else { %>

                    <%- include ('nhl_team_stats') %>

                <% } %>
            </div>
        <% } %>
    </body>
</html>