<!--Lets have three types of divisions: one for offense and one for defense and STs. And lets break them up
by position-->

<%
    const offensivePositions = ["QB", "RB", "WR", "TE", "OT", "G", "C"];
    const defensivePositions = ["DT", "LB", "DE", "CB", "S"];
    const specialPositions = ["PK", "P", "LS"];
%>

<div id="offenseRosterDiv">

    <% offensivePositions.forEach(pos => { %>
        <% const players = data.athletes[0].items.filter(player => player.position.abbreviation == pos); %>
        <% if (players.length > 0){ %>
            <h4 class="importantHeadline"><%= players[0].position.displayName %></h4>
            <table>
                <tr>
                    <th>Picture</th>
                    <th>Name</th>
                    <th>Jersey No.</th>
                    <th>Age</th>
                    <th>Weight</th>
                    <th>Height</th>
                    <th>YOE</th>
                    <th>Stats</th>
                </tr>
                <% players.forEach(athlete => { %>
                    <tr>
                        <% if (athlete.headshot !== undefined){ %>
                            <td><img class ="headshot" src="<%= athlete.headshot.href %>"></td>
                        <% } else { %>
                            <td><img class="altHeadshot" src="/images/default_headshot.png"></td>
                        <% } %>
                        <td><%= athlete.displayName %></td>
                        <td><%= athlete.jersey %></td>
                        <td><%= athlete.age %></td>
                        <td><%= athlete.displayWeight %></td>
                        <td><%= athlete.displayHeight %></td>
                        <td><%= athlete.experience.years %></td>
                        <td>
                            <a href="http://localhost:<%= port %>/<%= sport %>/<%= league %>/player/<%= athlete.id %>">
                                Player Stats
                            </a>
                        </td>
                    </tr>
                <% }) %>
            </table>
        <% } %>
    <% }) %>
</div>

<div id="defensiveRosterDiv">

    <% defensivePositions.forEach(pos => { %>
        <% const players = data.athletes[1].items.filter(player => player.position.abbreviation == pos); %>
        <% if (players.length > 0){ %>
            <h4 class="importantHeadline"><%= players[0].position.displayName %></h4>
            <table>
                <tr>
                    <th>Picture</th>
                    <th>Name</th>
                    <th>Jersey No.</th>
                    <th>Age</th>
                    <th>Weight</th>
                    <th>Height</th>
                    <th>YOE</th>
                    <th>Stats</th>
                </tr>
                <% players.forEach(athlete => { %>
                    <tr>
                        <% if (athlete.headshot !== undefined){ %>
                            <td><img class ="headshot" src="<%= athlete.headshot.href %>"></td>
                        <% } else { %>
                            <td><img class="altHeadshot" src="/images/default_headshot.png"></td>
                        <% } %>
                        <td><%= athlete.displayName %></td>
                        <td><%= athlete.jersey %></td>
                        <td><%= athlete.age %></td>
                        <td><%= athlete.displayWeight %></td>
                        <td><%= athlete.displayHeight %></td>
                        <td><%= athlete.experience.years %></td>
                        <td>
                            <a href="http://localhost:<%= port %>/<%= sport %>/<%= league %>/player/<%= athlete.id %>">
                                Player Stats
                            </a>
                        </td>
                    </tr>
                <% }) %>
            </table>
        <% } %>
    <% }) %>
</div>

<div class="specialRosterDiv">

    <% specialPositions.forEach(pos => { %>
        <% const players = data.athletes[2].items.filter(player => player.position.abbreviation == pos); %>
        <% if (players.length > 0){ %>
            <h4 class="importantHeadline"><%= players[0].position.displayName %></h4>
            <table>
                <tr>
                    <th>Picture</th>
                    <th>Name</th>
                    <th>Jersey No.</th>
                    <th>Age</th>
                    <th>Weight</th>
                    <th>Height</th>
                    <th>YOE</th>
                    <th>Stats</th>
                </tr>
                <% players.forEach(athlete => { %>
                    <tr>
                        <% if (athlete.headshot !== undefined){ %>
                            <td><img class ="headshot" src="<%= athlete.headshot.href %>"></td>
                        <% } else { %>
                            <td><img class="altHeadshot" src="/images/default_headshot.png"></td>
                        <% } %>
                        <td><%= athlete.displayName %></td>
                        <td><%= athlete.jersey %></td>
                        <td><%= athlete.age %></td>
                        <td><%= athlete.displayWeight %></td>
                        <td><%= athlete.displayHeight %></td>
                        <td><%= athlete.experience.years %></td>
                        <td>
                            <a href="http://localhost:<%= port %>/<%= sport %>/<%= league %>/player/<%= athlete.id %>">
                                Player Stats
                            </a>
                        </td>
                    </tr>
                <% }) %>
            </table>
        <% } %>    
    <% }) %>
</div>

<h3 class="importantHeadline">Injured Reserve</h3>
<div class="injuredRosterDiv">
    <table>
        <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>Jersey No.</th>
            <th>Age</th>
            <th>Weight</th>
            <th>Height</th>
            <th>YOE</th>
            <th>Stats</th>
        </tr>
        <% data.athletes[3].items.forEach(athlete => { %>
            <tr>
                <% if (athlete.headshot !== undefined){ %>
                    <td><img class ="headshot" src="<%= athlete.headshot.href %>"></td>
                <% } else { %>
                    <td><img class="altHeadshot" src="/images/default_headshot.png"></td>
                <% } %>

                <td><%= athlete.displayName %></td>
                <td><%= athlete.jersey %></td>
                <td><%= athlete.age %></td>
                <td><%= athlete.displayWeight %></td>
                <td><%= athlete.displayHeight %></td>
                <td><%= athlete.experience.years %></td>
                <td>
                    <a href="http://localhost:<%= port %>/<%= sport %>/<%= league %>/player/<%= athlete.id %>">
                        Player Stats
                    </a>
                </td>
            </tr>
        <% }) %>
    </table>
</div>

<h3 class="importantHeadline">Practice Squad</h3>
<div class="practiceRosterDiv">

    <table>
        <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>Jersey No.</th>
            <th>Age</th>
            <th>Weight</th>
            <th>Height</th>
            <th>YOE</th>
            <th>Stats</th>
        </tr>
        <% data.athletes[5].items.forEach(athlete => { %>
            <tr>
                <% if (athlete.headshot !== undefined){ %>
                    <td><img class ="headshot" src="<%= athlete.headshot.href %>"></td>
                <% } else { %>
                    <td><img class="altHeadshot" src="/images/default_headshot.png"></td>
                <% } %>
                <td><%= athlete.displayName %></td>
                <td><%= athlete.jersey %></td>
                <td><%= athlete.age %></td>
                <td><%= athlete.displayWeight %></td>
                <td><%= athlete.displayHeight %></td>
                <td><%= athlete.experience.years %></td>
                <td>
                    <a href="http://localhost:<%= port %>/<%= sport %>/<%= league %>/player/<%= athlete.id %>">
                        Player Stats
                    </a>
                </td>
            </tr>
        <% }) %>
    </table>
</div>